Dear {username},
<br />Recently a request was submitted to reset a password for your account.
<br />If this was a mistake, just ignore this email and nothing will happen.
<br />The following link will expire in 7 days.
<br />To reset your password, click the following button:
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
      <td>
          <table cellspacing="0" cellpadding="0">
              <tr>
                  <td style="border-radius: 2px;background-color: #008ef5;">
                      <a href="{resetURL}" target="_blank" style="padding: 8px 12px; border: 1px solid #008ef5;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                          Reset Password
                      </a>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
</table>
<br />IF you cannot see the button, just go to the link below:
<br />{resetURL}
<br /><br />Regards,
<br />{web_name}