<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0 ,maximum-scale=1.0, initial-scale=1" user-scalable="no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="{$base_url}/">
    <title>{$meta['title']}</title>
    <meta name="author" content="carry0987" />
    <meta name="description" content="{$meta['description']}" />
    <meta property="og:title" content="{$meta['title']}" />
    <meta property="og:description" content="{$meta['description']}" />
    <meta property="og:url" content="{$meta['url']}" />
    <meta property="og:site_name" content="{$meta['name']}" />
    <meta property="og:image" content="{$base_url}/static/icon/logo.png" />
    <meta property="og:type" content="{$meta['type']}" />
    <link rel="stylesheet" type="text/css" href="{loadcss common.css}">
    <link rel="stylesheet" type="text/css" href="{loadcss pagination.css}">
    <link rel="stylesheet" type="text/css" href="{loadcss mobile-common.css}">
    <link rel="stylesheet" type="text/css" href="{loadcss tablet-common.css}">
    <link rel="stylesheet" type="text/css" href="{loadcss menu.css}">
    <link rel="stylesheet" type="text/css" href="{loadcss mobile-menu.css}">
    <link rel="stylesheet" type="text/css" href="{loadcss component/checkbox.css}">
    <link rel="stylesheet" type="text/css" href="{loadcss component/notification.css}">
    <link href="{$base_url}/favicon.ico" rel="shortcut icon">
    <link href="{$base_url}/static/icon/logo.png" rel="apple-touch-icon">
    <script src="{loadjs jquery.min.js}" type="text/javascript"></script>
</head>

<body>
    <div id="mainwrapper">
        <div class="login-information">
            <div class="login-user">
                <ul>
                    <li>
                        <a class="login-menu web-name" href="{$base_url}/" rel="noopener noreferrer">
                            <span>{$meta['name']}</span>
                        </a>
                    </li>
<!--{if !empty($login['username'])}-->
                    <li class="login-username">
                        <a class="login-menu" href="{$base_url}/member.php?uid={$login['uid']}" rel="nofollow">
                            <span>{$login['username']}</span>
                            <img class="user-icon" src="{$base_url}/static/icon/user.svg" alt="User Icon" />
                        </a>
                    </li>
                    <li class="notification">
                        <a id="notif_box" class="notification-link" href="javascript:void(0);">
                            <img class="notification-icon" src="{$base_url}/static/icon/notification-envelope.svg" alt="Notification" />
                            <span class="notification-count"></span>
                        </a>
                        <div id="notif_wrapper">
                            <div id="notificationTitle">
                                <span>{$LANG['common']['notification']}</span>
                            </div>
                            <div id="notificationsBody" class="notifications">
                                <ol></ol>
                                <div class="notif-loading">
                                    <img src="static/icon/loading_spin.svg" />
                                </div>
                            </div>
                            <div id="notificationFooter">
                                <a href="#">{$LANG['common']['see_all']}</a>
                            </div>
                        </div>
                    </li>
<!--{else}-->
                    <li>
                        <a class="login-menu menu-button" href="{$base_url}/signup.php">
                            <span>{$LANG['common']['signup']}</span>
                        </a>
                    </li>
                    <li>
                        <a class="login-menu menu-button" href="{$base_url}/login.php">
                            <span>{$LANG['common']['login']}</span>
                        </a>
                    </li>
<!--{/if}-->
                </ul>
            </div>
        </div>
        <header id="header">
            <div id="logo">
                <a href="{$base_url}"><img id="logo-img" src="{$base_url}/static/icon/logo.png" alt="logo" /></a>
            </div>
        </header>
        <!--{if $login['uid'] !== false}-->
        <script type="text/javascript">
        $(document).ready(function() {
            //Get new notification
            autoCheckNotif('{$base_url}/index.php');
            var get_time = setInterval(function() {
                autoCheckNotif('{$base_url}/index.php');
            }, 5000);
            //clearInterval(get_time);
        });
        </script>
        <!--{/if}-->
<!--{template menu}-->