        <div id="cssmenu">
            <ul>
<!--{if !empty($login['username'])}-->
                <li>
                    <a href="{$base_url}/member.php?uid={$login['uid']}" rel="nofollow">{$login['username']}</a>
                </li>
<!--{/if}-->
<!--{if $login['admin'] === true}-->
                <li>
                    <a href="{$base_url}/admin.php" rel="nofollow">{$LANG['admin']['control_panel']}</a>
                </li>
<!--{/if}-->
<!--{if empty($login['username'])}-->
                <li>
                    <a href="{$base_url}/login.php">{$LANG['common']['login']}</a>
                </li>
<!--{else}-->
                <li>
                    <a href="{$base_url}/logout.php" rel="nofollow">{$LANG['common']['logout']}</a>
                </li>
<!--{/if}-->
            </ul>
        </div>