        <div class="login_div">
            <form action="login.php" id="login_form" method="post">
                <input type="text" name="redirect_url" hidden="hidden" value="{$url_from}" />
                <input type="text" class="login_input" name="account" id="account" autocomplete="account" placeholder="{$LANG['common']['username_or_email']}" maxlength="30" />
                <input type="password" class="login_input" name="password" id="password" autocomplete="current-password" placeholder="{$LANG['common']['password']}" maxlength="20" />
                <div class="login-action">
                    <div class="remember-me">
                        <div class="checkbox">
                            <input type="checkbox" id="remember_me" name="remember_me" value="true" />
                            <label for="remember_me">{$LANG['common']['remember_me']}</label>
                        </div>
                    </div>
                    <div class="forgot-password">
                        <a href="./login.php?pw=forgot">{$LANG['common']['forgot_password']}</a>
                    </div>
                </div>
<!--{if isset($captcha['set']) && $captcha['set'] === true}-->
<!--{if $captcha['type'] === 'simple_captcha'}-->
                <div class="simple-captcha">
                    <img src="login.php?rand=<?=rand();?>.jpg" id="captcha-image" ref="noopener">
                </div>
                <div class="captcha-refresh">
                    <p>{$LANG['common']['captcha_not_clear']}<a href="javascript: refreshCaptcha();"> {$LANG['common']['refresh']}</a></p>
                </div>
                <script type="text/javascript">
                function refreshCaptcha() {
                    var img = document.getElementById('captcha-image');
                    var img_attr = img.getAttribute('src');
                    img.src = img_attr.substring(0, img_attr.lastIndexOf('?')) + '?rand=' + Math.random() * 1000;
                    document.getElementById('simple_captcha_valid').style.backgroundColor = '#ffffff';
                    document.getElementById('simple_captcha_valid').value = '';
                }
                </script>
                <br />
                <input type="text" class="login_input" name="captcha_valid" id="simple_captcha_valid" placeholder="{$LANG['common']['captcha']}" autocomplete="off" />
<!--{elseif $captcha['type'] === 'google_recaptcha'}-->
<!--{if $siteKey !== false && $secretKey !== false}-->
                <script src="https://www.google.com/recaptcha/api.js?hl={$LANG['common']['current_language']}&onload=onloadCallback&render=explicit" type="text/javascript" async defer></script>
                <script type="text/javascript">
                var onloadCallback = function() {
                    grecaptcha.render("html_element", {
                        "sitekey": "{$siteKey}",
                        "theme": "white"
                    });
                };
                </script>
                <div id="html_element"></div>
<!--{/if}-->
<!--{elseif $captcha['type'] === 'svg_captcha'}-->
                <div id="error"></div>
                <div id="svg_captcha"></div>
                <div class="captcha-refresh">
                    <p>{$LANG['common']['captcha_not_clear']}<a href="javascript: refreshCaptcha();"> {$LANG['common']['refresh']}</a></p>
                </div>
                <script type="text/javascript">
                function refreshCaptcha() {
                    $("#svg_captcha").load('login.php?svg_rand='+ Math.random() * 1000, function(response, status, xhr) {
                        document.getElementById('svg_captcha_valid').style.backgroundColor = '#ffffff';
                        document.getElementById('svg_captcha_valid').value = '';
                    });
                };
                $(window).on('load', refreshCaptcha);
                </script>
                <br />
                <input type="text" class="login_input" name="captcha_valid" id="svg_captcha_valid" placeholder="{$LANG['common']['captcha']}" autocomplete="off" />
<!--{/if}-->
<!--{/if}-->
                <div class="login_submit">
                    <button type="submit" name="submit">{$LANG['common']['login']}</button>
                </div>
            </form>
<!--{if $social_login['set'] === true}-->
            <div class="social_login_title">
                <h3>{$LANG['common']['login_with_social']}</h3>
            </div>
            <div class="social_login">
                <div class="social_login_box">
                    <a href="./login.php?login_with=github" title="Login with GitHub" class="social_login_link" rel="noopener noreferrer">
                        <img class="social_login_img" src="{$base_url}/static/icon/login_github_button.svg" alt="Login With Github" />
                    </a>
                </div>
            </div>
<!--{/if}-->
            <div class="horizon"></div>
            <div class="signup_link">
                <span>{$LANG['common']['no_account']}</span>
                <a href="./signup.php">{$LANG['common']['signup']}</a>
            </div>
        </div>
        <script type="text/javascript">
        $('#login_form').submit(function() {
            if ($('#account').val() == '') {
                alert('{$LANG['common']['login_empty']}');
                $('#account').focus();
                return false;
            } else if ($('#password').val() == '') {
                alert('{$LANG['common']['password_empty']}');
                $('#password').focus();
                return false;
            }
            return true;
        });

        $('#simple_captcha_valid').blur(function() {
            var simple_captcha_valid = $('#simple_captcha_valid').val();
            $.post('./login.php', {check_simple_captcha: simple_captcha_valid}, function(data) {
                if (data == 0) {
                    $('#simple_captcha_valid').css('background-color', '#f3000038');
                    return false;
                } else {
                    $('#simple_captcha_valid').css('background-color', '#0080004a');
                    return true;
                }
            });
        });

        $('#svg_captcha_valid').blur(function() {
            var svg_captcha_valid = $('#svg_captcha_valid').val();
            $.post('./login.php', {check_svg_captcha: svg_captcha_valid}, function(data) {
                if (data == 0) {
                    $('#svg_captcha_valid').css('background-color', '#f3000038');
                    return false;
                } else {
                    $('#svg_captcha_valid').css('background-color', '#0080004a');
                    return true;
                }
            });
        });
        <!--{if $account_error != ''}-->
        alert('{$account_error}');
        location.href = '{$base_url}/login.php';
        <!--{/if}-->
        <!--{if $password_error != ''}-->
        alert('{$password_error}');
        location.href = '{$base_url}/login.php';
        <!--{/if}-->
        </script>