    <!--{if isset($show_article) && $show_article === true}-->
    <fieldset class="breadcrumb">
        <ol class="crumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="crust" itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
                <a href="{$base_url}" class="crumb" itemtype="https://schema.org/Thing" itemprop="item">
                    <span class="crumb-img" itemprop="name">
                        <span class="main-name">{$meta['name']}</span>
                        <img class="breadcrumb-img" src="{$base_url}/static/icon/home.svg" alt="Home" />
                    </span>
                </a>
                <span class="arrow"><span></span></span>
                <meta itemprop="position" content="1" />
            </li>
            <li class="crust" itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
                <a href="{$base_url}/category.php?cid={$category_link}" class="crumb" itemtype="https://schema.org/Thing" itemprop="item">
                    <span class="crumb-category" itemprop="name">{$category_from}</span>
                </a>
                <span class="arrow"><span>&gt;</span></span>
                <meta itemprop="position" content="2" />
            </li>
            <li class="crust" itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
                <a href="{$base_url}/board.php?bid={$board_link}" class="crumb" itemtype="https://schema.org/Thing" itemprop="item">
                    <span class="crumb-board" itemprop="name">{$board_from}</span>
                </a>
                <span class="arrow"><span>&gt;</span></span>
                <meta itemprop="position" content="3" />
            </li>
            <li class="crust" itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
                <a href="{$article_url}" class="crumb" itemtype="https://schema.org/Thing" itemprop="item">
                    <span class="crumb-article" itemprop="name">{$article_title}</span>
                </a>
                <meta itemprop="position" content="4" />
            </li>
        </ol>
    </fieldset>
    <div class="content">
        <h1 class="article-title"><a href="article.php?aid={$article_id}" title="{$article_title}">{$article_title}</a></h1>
        <p class="content-from">{$LANG['common']['board_from']} '{$board_from}',</p>
        <p class="content-author">
            <span>{$LANG['common']['started_by']}</span>
            <a href="member.php?uid={$article_author_id}" title="{$author_info['row']['display_name']} (&commat;{$author_info['row']['username']})">{$author_info['row']['display_name']}</a>
            <span>,</span>
        </p>
        <p class="content-date">{$post_date}</p>
        <!--{if isset($showPrivate)}-->
        <div class="notification-box announce">
            <p>{$LANG['common']['private']}</p>
        </div>
        <!--{/if}-->
        <!--{if $current_page <= $total_pages}-->
        <!--{if ($paginator->getNumPages() > 1)}-->
        <div class="pagination">
            <ul class="pagination-list">
                <!--{if ($paginator->getPrevUrl())}-->
                <li class="page-item">
                    <a class="page-link" href="{echo $paginator->getPrevUrl()}">{$LANG['common']['prev_page']}</a>
                </li>
                <!--{/if}-->
                <!--{loop $paginator->getPages() $page}-->
                <!--{if $page['url']}-->
                <!--{eval $pages['class'] = $page['isCurrent'] ? 'active' : '';}-->
                <li class="page-item {$pages['class']}">
                    <a class="page-link" href="{$page['url']}">{$page['num']}</a>
                </li>
                <!--{else}-->
                <li class="page-item-disable"><a class="link-disable">{$page['num']}</a></li>
                <!--{/if}-->
                <!--{/loop}-->
                <!--{if ($paginator->getNextUrl())}-->
                <li class="page-item">
                    <a class="page-link" href="{echo $paginator->getNextUrl()}">{$LANG['common']['next_page']}</a>
                </li>
                <!--{/if}-->
            </ul>
        </div>
        <!--{/if}-->
        <!--{/if}-->
        <div class="article-action">
            <div class="action-bar">
                <div class="action-bar-box">
                    <div class="btn-primary">
                        <a data-set="" id="reply-article" onclick="goReply()">
                            <div class="btn">
                                <img class="button-icon" src="static/icon/reply.svg" alt="Reply Icon">
                                <span>{$LANG['common']['reply']}</span>
                            </div>
                        </a>
                    </div>
                    <!--{if isset($show_edit) && $show_edit === true}-->
                    <div class="btn-edit">
                        <a href="article.php?aid={$article_id}&amp;action=edit_article" data-set="" id="edit-multi-data">
                            <div class="btn">
                                <img class="button-icon" src="static/icon/multi-edit.svg" alt="Multi-Edit Icon">
                                <span>{$LANG['common']['edit']}</span>
                            </div>
                        </a>
                    </div>
                    <!--{/if}-->
                </div>
            </div>
        </div>
        <!--{if isset($reply_result)}-->
        <div class="content-block">
            <ol class="content-ol">
                <!--{if $current_page === 1}-->
                <!--{eval $i = 2+($itemsPerPage * ($current_page - 1));}-->
                <!--{else}-->
                <!--{eval $i = 1+($itemsPerPage * ($current_page - 1));}-->
                <!--{/if}-->
                <!--{loop $reply_result $reply}-->
                <!--{if $reply['reply_id'] === 0}-->
                <li id="article-main" class="content-li">
                    <div id="article-main" class="content-main">
                        <div class="content-author-info">
                            <div class="author-avatar">
                                <div class="avatar-board">
                                    <a href="member.php?uid={$reply['user_id']}">
                                        <img src="{$base_url}/static/icon/default_avatar.svg" />
                                    </a>
                                </div>
                            </div>
                            <h3 class="author">
                                <div class="author-name">
                                    <a href="member.php?uid={$reply['user_id']}" title="{$reply['display_name']} (&commat;{$reply['username']})">
                                        <span>{$reply['display_name']}</span>
                                        <span>&commat;{$reply['username']}</span>
                                    </a>
                                </div>
                            </h3>
                            <div class="author-detail">
                                <dl class="author-joined">
                                    <dt>{$LANG['common']['user_identity']}:</dt>
                                    <!--{if $reply['is_admin'] === 1}-->
                                    <dd>{$LANG['common']['admin']}</dd>
                                    <!--{else}-->
                                    <dd>{$LANG['common']['member']}</dd>
                                    <!--{/if}-->
                                </dl>
                                <dl class="author-joined">
                                    <dt>{$LANG['common']['join_date']}：</dt>
                                    <dd>{$reply['join_date']}</dd>
                                </dl>
                                <dl class="author-article">
                                    <dt>{$LANG['common']['article']}：</dt>
                                    <dd>{$reply['article_count']}</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="content-box">
                            <article>{$reply['content']}</article>
                            <div class="article-date">
                                <span>{$reply['post_date']}</span>
                                <a href="#article-main">
                                    <span>#1</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <!--{else}-->
                <li id="reply-{$reply['reply_id']}" class="reply-li">
                    <div class="reply-main">
                        <div class="content-author-info">
                            <div class="author-avatar">
                                <div class="avatar-board">
                                    <a href="member.php?uid={$reply['user_id']}">
                                        <img src="{$base_url}/static/icon/default_avatar.svg" />
                                    </a>
                                </div>
                            </div>
                            <h3 class="author">
                                <div class="author-name">
                                    <a href="member.php?uid={$article_author_id}" title="{$reply['display_name']} (&commat;{$reply['username']})">
                                        <span>{$reply['display_name']}</span>
                                        <span>&commat;{$reply['username']}</span>
                                    </a>
                                </div>
                            </h3>
                            <div class="author-detail">
                                <dl class="author-joined">
                                    <dt>{$LANG['common']['user_identity']}:</dt>
                                    <!--{if $reply['is_admin'] === 1}-->
                                    <dd>{$LANG['common']['admin']}</dd>
                                    <!--{else}-->
                                    <dd>{$LANG['common']['member']}</dd>
                                    <!--{/if}-->
                                </dl>
                                <dl class="author-joined">
                                    <dt>{$LANG['common']['join_date']}：</dt>
                                    <dd>{$reply['join_date']}</dd>
                                </dl>
                                <dl class="author-article">
                                    <dt>{$LANG['common']['article']}：</dt>
                                    <dd>{$reply['article_count']}</dd>
                                </dl>
                            </div>
                            <span class="arrow"><span></span></span>
                        </div>
                        <div class="content-box">
                            <article>{$reply['content']}</article>
                            <div class="reply-detail">
                                <a href="#reply-{$reply['reply_id']}" onclick="highlight(this)">
                                    <span>#{echo $i++}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <!--{/if}-->
                <!--{/loop}-->
            </ol>
        </div>
        <!--{/if}-->
        <!--{if $current_page <= $total_pages}-->
        <!--{if ($paginator->getNumPages() > 1)}-->
        <div class="pagination">
            <ul class="pagination-list">
                <!--{if ($paginator->getPrevUrl())}-->
                <li class="page-item">
                    <a class="page-link" href="{echo $paginator->getPrevUrl()}">{$LANG['common']['prev_page']}</a>
                </li>
                <!--{/if}-->
                <!--{loop $paginator->getPages() $page}-->
                <!--{if $page['url']}-->
                <!--{eval $pages['class'] = $page['isCurrent'] ? 'active' : '';}-->
                <li class="page-item {$pages['class']}">
                    <a class="page-link" href="{$page['url']}">{$page['num']}</a>
                </li>
                <!--{else}-->
                <li class="page-item-disable"><a class="link-disable">{$page['num']}</a></li>
                <!--{/if}-->
                <!--{/loop}-->
                <!--{if ($paginator->getNextUrl())}-->
                <li class="page-item">
                    <a class="page-link" href="{echo $paginator->getNextUrl()}">{$LANG['common']['next_page']}</a>
                </li>
                <!--{/if}-->
            </ul>
        </div>
        <!--{/if}-->
        <!--{/if}-->
        <link rel="stylesheet" type="text/css" href="{loadcss component/radio.css}">
        <link rel="stylesheet" type="text/css" href="{loadcss component/checkbox.css}">
        <link rel="stylesheet" href="{loadcss ../editor/themes/editor-common.css}" id="theme-style">
        <script src="{loadjs ../editor/sceditor.js}" type="text/javascript"></script>
        <script src="{loadjs ../editor/icons/monocons.js}" type="text/javascript"></script>
        <script src="{loadjs ../editor/bbcode.js}" type="text/javascript"></script>
        <script src="{$base_url}/static/editor/editorlang/{$LANG['common']['current_language']}.js" type="text/javascript"></script>
        <div class="reply-block">
            <div class="reply-info" style="display: none;">
                <div id="success" class="notification-box success" style="margin-bottom: 0em">
                    <p>{$LANG['common']['reply_success']}</p>
                </div>
                <div id="failed" class="notification-box warning" style="margin-bottom: 0em">
                    <p>{$LANG['common']['reply_failed']}</p>
                </div>
            </div>
            <div id="create_reply" class="reply-div">
                <div class="reply-avatar">
                    <img src="{$base_url}/static/icon/default_avatar.svg" alt="User Avatar" />
                </div>
                <span class="arrow"><span></span></span>
                <form class="reply-form" action="./article.php?aid={$article_id}&amp;action=create_reply" method="post">
                    <textarea class="reply-text" id="article" type="text" name="reply_content" rows="5" cols="50" maxlength="29990"></textarea>
                    <div class="reply-submit">
                        <button type="submit" name="submitData">{$LANG['common']['submit']}</button>
                        <div class="reply-loading" style="display: none;">
                            <img src="static/icon/loading_spin.svg" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script type="text/javascript">
        $(document).ready(function() {
            var textarea = document.getElementById('article');
            sceditor.create(textarea, {
                locale: "{$LANG['common']['current_language']}",
                height: 150,
                resizeMinHeight: 150,
                ltr: true,
                autofocus: false,
                toolbar: 'bold,italic,underline|color,size,font|link,unlink|emoticon,image,horizontalrule',
                format: 'bbcode',
                icons: 'monocons',
                bbcodeTrim: true,
                emoticonsRoot: 'static/editor/',
                emoticons:
                {
                    dropdown: {
                        '[:)]': 'emoticons/smile.svg',
                        '[:tear-joy]': 'emoticons/tear_joy.svg',
                        '[:angry:]': 'emoticons/angry.svg',
                        '[;)]': 'emoticons/wink.svg',
                        '[:love]': 'emoticons/love.svg',
                        '[:dog]': 'emoticons/dog.svg'
                    }
                },
                style: "{loadcss editor.css}"
            });
            function wordLeft() {
                var maxlength = parseInt($('.article-input').attr('maxlength'));
                var NowEntry = parseInt($('.article-input').val().length);
                var left = maxlength - NowEntry;
                NowEntry = maxlength <= NowEntry ? NowEntry : NowEntry + 1;
                left = maxlength <= NowEntry ? left : left;
                $('#display').text(left);
            };
            $('.article-input').on('keyup keydown', function() {
                wordLeft();
            });
            var hash = window.location.hash;
            if (hash) {
                hash = hash.split('article-main')[0];
                if (hash.split('reply-')[1]) {
                    hash = hash.split('reply-')[1];
                }
                hash = hash.split('&')[0];
                if (isNaN(hash) == false) {
                    if ($('#reply-'+hash).length) {
                        $([document.documentElement, document.body]).animate({
                            scrollTop: $('#reply-'+hash).offset().top
                        }, 1000);
                        setTimeout(function() {
                            $('#reply-'+hash+' .reply-main').toggleClass('highlight')
                        }, 1000);
                        $('#reply-'+hash+' .reply-main').toggleClass('highlight');
                    }
                }
            }
        });
        </script>
        <!--{if $login['uid'] === false}-->
        <script type="text/javascript">
        $(document).ready(function() {
            var notLogin = document.getElementById('article');
            sceditor.instance(notLogin).readOnly(true);
            sceditor.instance(notLogin).css('body { opacity: 0.6; }');
            sceditor.instance(notLogin).insert("{$LANG['common']['not_login']}");
        });
        </script>
        <!--{/if}-->
        <script type="text/javascript">
        function highlight(event) {
            var targetID = $(event).closest('li').attr('id');
            setTimeout(function() {
                $('#'+targetID+' .reply-main').toggleClass('highlight')
            }, 1000);
            $('#'+targetID+' .reply-main').toggleClass('highlight');
        }
        function goReply() {
            $([document.documentElement, document.body]).animate({
                scrollTop: $('#create_reply').offset().top
            }, 1000);
        }
        $('.reply-form').on('submit', function() {
            var dataArray = {};
            var textarea = document.getElementById('article');
            dataArray['content'] = sceditor.instance(textarea).val();
            dataArray['url'] = 'article.php?aid={$article_id}&action=create_reply';
            dataArray['itemsPerPage'] = {$itemsPerPage};
            dataArray['totalPage'] = {$total_pages};
            dataArray['checkPage'] = {$checkPage};
            sceditor.instance(textarea).readOnly(true);
            createReply(dataArray);
            return false;
        });
        </script>
        <script type="text/javascript" src="{loadjs intersection-observer.min.js}"></script>
        <script type="text/javascript" src="{loadjs lozad.min.js}"></script>
        <script type="text/javascript">
        const lazyload = document.querySelector('.lazyload');
        $(lazyload).attr('src', 'static/icon/loading_spin.svg');
        const observer = lozad(lazyload);
        observer.observe();
        </script>
    </div>
    <!--{else}-->
    <div class="novalue" style="margin-top: 1em;">
        <a>{$LANG['common']['content_not_found']}</a>
    </div>
    <!--{/if}-->