<!--{if isset($show_board) && $show_board === true}-->
    <fieldset class="breadcrumb">
        <span class="crumbs">
            <span class="crust" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="{$base_url}" class="crumb" rel="up" itemprop="url">
                    <span class="crumb_img" itemprop="title">
                        <img class="breadcrumb_img" src="{$base_url}/static/icon/home.svg" alt="Home">
                    </span>
                </a>
                <span class="arrow"><span></span></span>
            </span>
            <span class="crust" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="{$base_url}/board.php?bid={$board_id}" class="crumb" rel="up" itemprop="url">
                    <span class="crumb_board" itemprop="title">{$board_name}</span>
                </a>
            </span>
        </span>
    </fieldset>
<!--{/if}-->
<!--{if isset($show_board) && $show_board === true}-->
<!--{if $current_page <= $total_pages}-->
    <div class="board">
        <div class="board_name">
            <a href="././board.php?bid={$board_id}">{$board_name}</a>
            <span>{$lang_total_post}:<span class="total_post">{$total_article}</span></span>
            <div class="board_description">
                <span>{$board_description}</span>
            </div>
        </div>
        <div class="post">
            <div class="post_button">
                <a class="post_link" href="./board.php?bid={$board_id}&amp;action=create_article">
                    <span>{$lang_post_article}</span>
                </a>
            </div>
<!--{if isset($show_page) && $show_page === true}-->
            <div class="pages">
<!--{if $show_prev != 0}-->
                <a class="pages_tag" href="./board.php?bid={$board_id}&amp;page={$show_prev}">{$lang_prev_page}</a>
<!--{/if}-->
<!--{loop $page_numbers $pages}-->
                <a class="{$pages['class']}" href="./board.php?bid={$board_id}&amp;page={$pages['page']}">{$pages['page']}</a>
<!--{/loop}-->
<!--{if $show_next != 0}-->
                <a class="pages_tag" href="./board.php?bid={$board_id}&amp;page={$show_next}">{$lang_next_page}</a>
<!--{/if}-->
            </div>
<!--{/if}-->
        </div>
            <div class="box">
                <div class="box_detail">
                    <dl>
                        <dt><span>{$lang_title}</span></dt>
                        <dd class="box_reply">{$lang_reply}</dd>
                        <dd class="box_latest_reply">{$lang_final_reply}</dd>
                    </dl>
                    <ol class="box_ol">
<!--{if isset($article_pages)}-->
<!--{loop $article_pages $articles}-->
<!--{eval $date = date('Y-m-d', strtotime($articles['date']))}-->
                        <li class="box_list">
                            <div class="box_title">
                                <a class="box_link" href="./article.php?aid={$articles['id']}" target="_blank" rel="noopener">{$articles['title']}</a>
                                <span class="box_date">{$date}</span>
                                <a class="box_username" href="./member.php?uid={$articles['user_id']}">
                                    <span>,&nbsp;{$articles['username']}</span>
                                </a>
                            </div>
                        </li>
<!--{/loop}-->
<!--{/if}-->
                    </ol>
                </div>
            </div>
        </div>
<!--{/if}-->
<!--{if $total_article != 0 && $current_page > $total_pages}-->
    <div class="novalue">
        <a>{$lang_page_not_found}</a>
    </div>
<!--{elseif $total_article == 0}-->
    <div class="board">
        <div class="post">
            <div class="post_button">
                <a class="post_link" href="./source/function/article_add.php?bid={$board_id}">
                    <span>{$lang_post_article}</span>
                </a>
            </div>
        </div>
        <div class="novalue">
            <a>{$lang_index_content_empty}</a>
        </div>
    </div>
<!--{/if}-->
    </div>
<!--{else}-->
    <div class="novalue" style="margin-top: 1em;">
        <a>{$lang_board_not_exist}</a>
    </div>
<!--{/if}-->