@charset "UTF-8";

/* Main Style */

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin: 0px;
    background-color: #EFEFEF;
}

#mainwrapper {
    background-color: #EFEFEF;
    overflow: auto;
    font-style: normal;
    font-weight: 400;
    height: auto;
    width: auto;
    float: none;
}

#header {
    text-align: center;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    color: #929292;
    background-color: #EFEFEF;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;
    color: #929292;
}

#logo-img {
    width: 100%;
    height: 100%;
    padding: 0px;
    color: #929292;
}

/* Login Information */

.login_user {
    width: auto;
    font-family: Arial;
    background-color: #A7B2A5;
    text-align: center;
}

.login_user ul {
    text-align: right;
}

.login_user,
.login_user ul,
.login_user ul li,
.login_user ul li .login_menu,
.login_user #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 0;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login_user>ul>li {
    float: none;
    display: inline-block;
}

.login_user>ul>li:first-child {
    float: left;
}

.login_user>ul>li>.login_menu {
    padding: 18px 25px 21px 25px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 1px;
}

.login_user:after,
.login_user>ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.login_user>ul>li:hover>.login_menu,
.login_user>ul>li>.login_menu:hover,
.login_user>ul>li.active>.login_menu {
    color: #FFFFFF;
    background-color: #00000033;
}

/* Notification */

.notification {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 1px;
}

.notification:hover {
    color: #FFFFFF;
    background-color: #00000033;
}

.notification_icon {
    width: 25px;
    vertical-align: middle;
}

/* Toogle */

.plusminus {
    float: right;
}

.plusminus img {
    width: 15px;
    vertical-align: middle;
}

.toggle_hide {
    display: none;
}

/* Admin */

.admin {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    width: 50%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

.admin>table {
    width: 100%;
    height: 100%;
    border-spacing: 0;
}

.admin>table td {
    text-align: center;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.admin>table a {
    font-size: 2em;
    font-weight: bold;
    color: #0366d6;
    text-decoration: none;
}

.infomation {
    text-align: center;
}

.ifnorefresh {
    color: blue;
}

.info {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.novalue {
    width: 70%;
    text-align: center;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.novalue>a {
    color: #000000;
    font-size: 3em;
    font-weight: bold;
}

.language {
    width: 50%;
    background-color: transparent;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    outline: none;
}

.change_language {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.delete {
    display: table-cell;
    text-align: center;
    width: 50px;
}

.alert {
    height: 28px;
    margin-left: auto;
    margin-right: auto;
}

/* index.php */
.box {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 1%;
    padding: 0em;
    border-radius: 5px;
    border-color: #E9E9E9;
    background-color: #ffffff;
}

.box_detail {
    padding: 0.5em;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #E9E9E9;
    background-color: #F9F9F9;
}

.box_detail dl {
    font-size: 16px;
    color: #4993C5;
    text-decoration: none;
    background-color: #F8FBFD;
    margin: 0 auto;
    border-width: 0;
    border-color: #DDE5EA;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-weight: 600;
    display: table;
    table-layout: fixed;
    width: 100%;
    word-wrap: normal;
}

.box_detail dt {
    padding: 10px 16px;
}

.box_detail dd {
    display: table-cell;
    vertical-align: middle;
}

.box_reply {
    width: 140px;
}

.box_latest_reply {
    width: 180px;
    text-align: center;
    overflow: hidden;
}

.box_ol {
    padding: 0px;
    margin: 0px;
    display: table;
    table-layout: fixed;
    width: 100%;
    word-wrap: normal;
    list-style-type: none;
}

.box_list {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D5D5D5;
}

.box_title {
    padding: 15px 10px 15px 10px;
    display: block;
    width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.box_title .box_date {
    display: table-cell;
    color: #909090;
    font-weight: normal;
}

.box_title .box_username {
    display: table-cell;
    color: #A7B2A5;
    word-break: break-all;
    text-decoration: none;
}

.box_title .box_username:hover {
    text-decoration: underline;
}

.box_link {
    display: contents;
    color: #4993C5;
    font-weight: bold;
    word-break: break-all;
    text-decoration: none;
}

.box_link:hover {
    text-decoration: underline;
}

.box_link>span {
    color: #666666;
    font-weight: normal;
}

.box_link>span:hover {
    color: #666666;
    font-weight: normal;
    text-decoration: underline;
}

/* home.php */

.home_box {
    width: 60%;
    margin: auto;
    margin-bottom: 1em;
}

.home_box .box {
    width: 100%;
}

.home_box>form {
    margin-bottom: 1em;
}

.home_box .pages {
    margin-top: 0.5em;
}

.home_box .checkall {
    font-size: initial;
    display: table-cell;
    width: 48.5px;
    text-align: center;
}

.home_button {
    display: table-cell;
    line-height: 20px;
}

.home_link {
    height: auto;
    line-height: inherit;
    display: inline-block;
    outline: 0 none;
    text-decoration: none;
}

.home_link:hover {
    background-color: #101010;
    border-radius: 5px;
    text-decoration: none;
}

.home_link span {
    font-size: 1em;
    color: #FFFFFF;
    background-color: #4993C5;
    padding: 0 10px;
    border-radius: 5px;
    display: block;
    text-align: center;
    font-weight: 600;
}

.home_link:hover span {
    background-color: rgb(74, 78, 81);
}

/* Content */
.content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    border-radius: 6px;
    background-color: #FFFFFF;
    letter-spacing: 1pt;
}

.content_from {
    color: #666666;
    display: inline-block;
}

.content_author {
    color: #666666;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
}

.content_date {
    color: #666666;
    display: inline-block;
}

.content_main {
    display: flex;
    margin: auto;
    padding: 5px;
    border-radius: 6px;
    border-color: #E9E9E9;
    border-style: solid;
    border-width: 1px;
    background-color: #F9F9F9;
}

.content_author_info {
    display: block;
    border: 1px solid #e9e9e9;
    border-radius: 6px;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

.content_author_info>.author {
    background-color: #d5d5d5;
    padding: 8px;
    margin: 0px;
    border: 0 solid #e9e9e9;
    border-top-width: 1px;
    border-bottom-width: 1px;
    font-size: 100%;
    font-weight: normal;
}

.content_author_info>.author>.author_name>a {
    margin: 0px;
    color: #656565;
    background-color: #d5d5d5;
    text-decoration: none;
    display: block;
    overflow: hidden;
}

.content_author_info>.author>.author_name>a:hover {
    text-decoration: underline;
}

.content_author_info>.author_detail {
    font-size: 11px;
    padding: 4px 6px;
    border: 0 solid rgb(233, 233, 233);
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.content_author_info .author_joined {
    margin-top: 0px;
    margin-bottom: 5px;
    overflow: hidden;
}

.content_author_info .author_joined>dt {
    float: left;
    max-width: 100%;
    margin-right: 0px;
}

.content_author_info .author_joined>dd {
    float: right;
    margin-left: 0px;
    text-align: right;
    max-width: 100%;
}

.content_author_info .author_article {
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
}

.content_author_info .author_article>dt {
    float: left;
    max-width: 100%;
    margin-right: 0px;
}

.content_author_info .author_article>dd {
    float: right;
    margin-left: 0px;
    text-align: right;
    max-width: 100%;
}

.content_author_info .author_avatar {
    padding: 5px;
    background-color: #fcfcfc;
    border-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
}

.content_author_info .avatar_board a {
    display: block;
    font-size: 0;
}

.content_author_info .avatar_board img {
    border-radius: 3px;
}

.content_box {
    width: 100%;
    display: block;
    margin-left: 1em;
    word-break: break-word;
}

.content_box>article {
    padding: 8px;
    word-break: break-all;
}

.content_box>article blockquote {
    background: #fff7d9;
    margin: .25em 0;
    border-left: .3em solid #f4e59f;
    padding: .5em .5em .5em .75em;
}

.content_box>article code {
    display: block;
    background: #f1f1f1;
    white-space: pre;
    padding: 1em;
    text-align: left;
    margin: .25em 0;
}

.content_edit {
    background-color: #f8f8f8;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.content>h1 {
    margin-top: 0em;
    margin-bottom: 0em;
    font-weight: normal;
}

.content>p {
    margin-top: 5px;
}

/* Submit */
.submit {
    margin-top: 1em;
    text-align: center;
}

.submit>button {
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: #000000;
    font-size: larger;
}

.submit>button:hover {
    background-color: #50d6ff;
    border-color: #c3fff7;
    color: #ffffff;
    transition: all .2s ease-in-out 0s;
}

.submit_edit {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.submit_edit>button {
    width: 50%;
    height: 40px;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: #000000;
    font-size: larger;
}

.submit_edit>button:hover {
    background-color: #50d6ff;
    border-color: #c3fff7;
    color: #ffffff;
    transition: all .2s ease-in-out 0s;
}

/* Pages */

.pages {
    display: inline-block;
    text-align: center;
    float: right;
}

.pages>.pages_tag {
    padding: 2px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #E6E9ED;
    font-size: large;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
}

.pages>.active {
    padding: 2px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #E6E9ED;
    font-size: large;
    color: #FFFFFF;
    background-color: #41C2A0;
    text-decoration: none;
}

.pages>.pages_tag:hover:not(.active) {
    cursor: pointer;
    color: #ffffff;
    background-color: #41C2A0;
}

.pages>.pages_first {
    padding: 2px 10px;
    border-width: 1px;
    margin-left: 6px;
    border-style: solid;
    border-color: #E6E9ED;
    font-size: large;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
}

.pages>.pages_first:hover:not(.active) {
    cursor: pointer;
    color: #ffffff;
    background-color: #41C2A0;
}

.pages>.pages_final {
    padding: 2px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #E6E9ED;
    font-size: large;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
}

.pages>.pages_final:hover:not(.active) {
    cursor: pointer;
    color: #ffffff;
    background-color: #41C2A0;
}

/* category */

.category {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.category_index {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.category_index>li {
    list-style-type: none;
}

.category_title {
    padding: 14px 10px;
    font-size: x-large;
    border-width: 0px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #4A4E51;
    flex: 0 0 auto;
}

.category_icon {
    width: 20px;
    height: 20px;
    flex: 0 0 auto;
}

.category_toggle {
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    float: right;
    cursor: pointer;
}

/* Board */

.board {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.add_board {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.board_name {
    width: 100%;
    margin: auto;
    margin-bottom: 5px;
    background-color: #ffffff;
}

.board_name a {
    color: #000000;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
}

.board_name a:hover {
    cursor: pointer;
    color: #41C2A0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #41C2A0;
}

.board_name .total_post, .today_post {
    color: #F26C4F;
    font-weight: bold;
    font-size: 1.0em;
}

.board_name img.refresh {
    width: 20px;
    height: 20px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.board_description {
    font-size: initial;
    color: #666666;
    padding: 0.5em;
}

.board_ol {
    background: #FCFCFC;
    padding: 0px;
    margin-top: 8px;
    border-top: 0;
    border-radius: 6px;
    list-style-type: none;
}

.board_title>span>a {
    color: #4993C5;
    text-decoration: none;
}

.board_title>span>a:hover {
    text-decoration: underline;
}

.board_list {
    border-width: 1px;
    border-style: solid;
    border-color: #E9E9E9;
}

.board_list:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.board_list:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.board_img {
    margin: 0.5em;
    display: inline-block;
}

.board_text {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;
}

.board_title {
    display: inline-block;
}

.board_title>span>a {
    font-size: large;
    font-weight: bold;
}

.board_info>.p1 {
    margin: 0px;
    color: #454545;
    font-size: medium;
    display: inline-block;
}

.board_latest {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 1em;
    display: inline-block;
    float: right;
}

.board_latest>.board_latest_title {
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 230px;
}

.board_latest>.board_latest_title a {
    color: #8F8F8F;
    text-decoration: none;
}

.board_latest>.board_latest_title a:hover {
    color: #101010;
    text-decoration: underline;
}

.board_latest>.board_latest_info {
    margin: 0px;
    color: #666666;
}

.board_latest>.board_latest_info>a {
    color: #4993C5;
    text-decoration: none;
}

.board_latest>.board_latest_info>a:hover {
    text-decoration: underline;
}

.board_icon {
    width: 35px;
    height: 35px;
    display: inline-block;
}

/* Post */

.post {
    width: 100%;
    margin: auto;
    line-height: 40px;
}

.post_button {
    display: inline-block;
    line-height: 40px;
}

.post_link {
    height: auto;
    line-height: inherit;
    display: inline-block;
    outline: 0 none;
    text-decoration: none;
}

.post_link:hover {
    background-color: #101010;
    border-radius: 5px;
    text-decoration: none;
}

.post_link span {
    font-size: 1.5em;
    color: #FFFFFF;
    background-color: #4993C5;
    padding: 0 16px;
    border-radius: 5px;
    display: block;
    text-align: center;
    font-weight: 600;
}

.post_link:hover span {
    background-color: rgb(74, 78, 81);
}

/* login */

.login_div {
    margin: 0 auto;
    background: #fff;
    max-width: 400px;
    padding: 3em 2em 2em;
    text-align: center;
}

.login_input {
    outline: none;
    font-size: .9em;
    letter-spacing: 1px;
    color: #666;
    padding: 1em 1em;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
    display: block;
    border: 1px solid #dde0df;
    background: #e4eae7;
}

.login_submit>button {
    font-size: 1em;
    color: #ffffff;
    background: #0f9d58;
    border: 1px solid #0f9d58;
    outline: none;
    cursor: pointer;
    padding: .8em 1em;
    letter-spacing: 1px;
    width: 100%;
}

.login_submit>button:hover {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}

.horizon {
    border-top: 1px solid #ccc;
    margin-top: 2em;
    margin-bottom: 1em;
}

.forgot_password {
    margin-bottom: 1em;
    text-align: right;
}

.forgot_password>a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.forgot_password>a:hover {
    color: #0f9d58;
    text-decoration: underline;
}

/* Error */

.error {
    text-align: center;
    font-style: inherit;
    color: red;
}

.create_error {
    padding: 1em;
}

.create_empty {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    background-color: #FFFFFF;
}

.create_empty>.error_info {
    display: inline-block;
    font-size: 1.5em;
    vertical-align: middle;
    font-weight: bold;
}

.create_empty>.error_back>span>a {
    text-decoration: none;
    color: #278fe9;
}

.create_empty>.error_back {
    display: block;
    padding-left: 2.5em;
    font-size: 1em;
    font-weight: bold;
}

.error_icon {
    display: inline-block;
    vertical-align: middle;
}

.error_icon>img {
    width: 30px;
}

/* Sign up */

.signup_div {
    margin: 0 auto;
    background: #fff;
    max-width: 400px;
    padding: 1em 0em 2em;
    text-align: center;
}

.signup_input {
    outline: none;
    font-size: .9em;
    letter-spacing: 1px;
    color: #666;
    padding: 1em 1em;
    margin: auto;
    width: 90%;
    box-sizing: border-box;
    margin-bottom: 1em;
    display: block;
    border: 1px solid #dde0df;
    background: #e4eae7;
}

.signup_submit>button {
    font-size: 1em;
    color: #ffffff;
    background: #0f9d58;
    border: 1px solid #0f9d58;
    outline: none;
    cursor: pointer;
    padding: .8em 1em;
    margin-top: 1em;
    letter-spacing: 1px;
    width: 95%;
}

.signup_submit>button:hover {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}

.signup_link {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.signup_link>span {
    display: table-row;
    font-size: large;
}

.signup_link>a {
    display: table-cell;
    font-size: 1em;
    width: 100%;
    color: #ffffff;
    background: #0f9d58;
    border: 1px solid #0f9d58;
    outline: none;
    cursor: pointer;
    padding: .8em 5em;
    letter-spacing: 1px;
    text-decoration: none;
}

.signup_link>a:hover {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}

/* Article */

.article_div {
    width: 60%;
    height: auto;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}

.article_form {
    margin-left: auto;
    margin-right: auto;
}

.article {
    width: 100%;
    height: 40%;
    border-width: 4px;
    border-style: solid;
    border-color: #cccccc;
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.article-title {
    text-align: center;
    white-space: nowrap;
}

.article-input {
    margin-bottom: 0.5em;
    font-size: large;
    white-space: nowrap;
}

.article-content {
    color: black;
    text-align: center;
    white-space: nowrap;
}

.article-text {
    resize: none;
    word-break: break-all;
}

.article-text-n {
    resize: none;
    word-break: break-all;
    font-size: 3em;
}

.article_submit {
    text-align: center;
}

.article_submit>button {
    font-size: 1em;
    color: #ffffff;
    background: #0f9d58;
    border: 1px solid #0f9d58;
    outline: none;
    cursor: pointer;
    padding: .8em 1em;
    margin-top: 1em;
    letter-spacing: 1px;
    width: 15%;
}

.article_submit>button:hover {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}

/* Change Setting */

.setting_div {
    width: 43%;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
}

.setting_form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.setting {
    width: 100%;
    height: 40%;
    border-width: 4px;
    border-style: solid;
    border-color: #cccccc;
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.setting td {
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 16px;
    font-weight: normal;
    overflow: hidden;
    word-break: normal;
    white-space: nowrap;
    text-align: center;
}

.setting tr:first-child td:first-child {
    border-top-left-radius: 5px;
}

.setting tr:first-child td:last-child {
    border-top-right-radius: 5px;
}

.setting tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.setting tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.setting .change_setting-a {
    text-align: center;
    white-space: nowrap;
}

.setting-input {
    height: 35px;
    font-size: x-large;
}

.setting-textarea {
    resize: none;
    font-size: large;
    width: 98%;
}

.not_login {
    text-align: center;
    border-color: #929292;
    border-width: 2px;
    border-style: solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

/* footer */

footer {
    margin-top: 0%;
    text-align: center;
    width: auto;
    height: auto;
    background-color: #EFEFEF;
    border: 0px;
}

footer p {
    text-align: center;
    color: black;
}

#footer {
    width: 100%;
    float: none;
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 20px;
}

.footer_icon {
    width: 144px;
    height: 30px;
    text-decoration: none;
    white-space: nowrap;
    cursor: default;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.footer_icon a {
    text-decoration: none;
}

#footer .developer {
    color: #0366d6;
    font-weight: bold;
    text-decoration: none;
}

#footer .developer:hover {
    cursor: pointer;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #0366d6;
}

/* Breadcrumb */
fieldset {
    margin: 0.5em auto;
    padding: 0px;
}

.breadcrumb {
    color: #d4d4d4;
    background-color: #fcfcfc;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    overflow: hidden;
    zoom: 1;
    max-width: 100%;
    box-sizing: border-box;
    height: 40px;
    width: 60%;
}

.breadcrumb .crust {
    line-height: 38px;
    display: block;
    float: left;
    position: relative;
    zoom: 1;
    max-width: 50%;
}

.breadcrumb .crust:first-child a.crumb,
.breadcrumb .crust.firstVisibleCrumb a.crumb {
    padding-left: 10px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.breadcrumb .crust a.crumb,
.breadcrumb .crust .arrow {
    line-height: inherit;
}

.breadcrumb .crust a.crumb>.crumb_board {
    display: block;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
}

.breadcrumb .crust a.crumb>.crumb_article {
    display: block;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
}

.breadcrumb .crust .arrow,
.breadcrumb .crust .arrow span {
    border-top-width: 20px;
    border-bottom-width: 20px;
}

.breadcrumb .crust .arrow {
    font-size: 16px;
    border: 20px solid transparent;
    border-right: 1px none black;
    border-left-width: 10px;
    border-left-color: #d5d5d5;
    -moz-border-right-colors: #d5d5d5;
    display: block;
    position: absolute;
    right: -10px;
    top: 0px;
    z-index: 50;
    width: 0px;
    height: 0px;
    line-height: inherit;
}

.breadcrumb .crust .arrow span {
    top: -20px;
}

.breadcrumb .crust .arrow,
.breadcrumb .crust .arrow span {
    border-top-width: 20px;
    border-bottom-width: 20px;
}

.breadcrumb .crust .arrow span {
    border: 20px solid transparent;
    border-right: 1px none black;
    border-left-width: 10px;
    border-left-color: #fcfcfc;
    -moz-border-right-colors: #fcfcfc;
    display: block;
    position: absolute;
    left: -11px;
    top: -20px;
    z-index: 51;
    white-space: nowrap;
    overflow: hidden;
    text-indent: 9999px;
    width: 0px;
    height: 0px;
}

.breadcrumb .crust a.crumb {
    cursor: pointer;
    font-size: 12px;
    color: rgb(143, 143, 143);
    text-decoration: none;
    background-color: rgb(252, 252, 252);
    padding: 0 10px 0 18px;
    margin: 0 0 -1px;
    border-bottom: 1px solid #d5d5d5;
    display: block;
    outline: 0 none;
    -moz-outline-style: 0 none;
    border-bottom: none;
    font-weight: 600;
}

.breadcrumb .crust:last-child a.crumb {
    color: #4993c5;
}

.breadcrumb .crust a.crumb,
.breadcrumb .crust .arrow {
    line-height: inherit;
}

.breadcrumb .crust:hover a.crumb {
    color: #656565;
    background-color: #d5d5d5;
}

.breadcrumb .crust:hover .arrow span {
    border-left-color: #d5d5d5;
}

.breadcrumb_img {
    width: 16px;
    vertical-align: text-bottom;
}

/* Checkbox */
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    color: #f2f2f2;
}

input[type="checkbox"]+label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: 0px;
    vertical-align: middle;
    background: url(./icon/checkbox.svg) -18px -4px no-repeat;
    cursor: pointer;
    background-size: 3em;
}

input[type="checkbox"]:checked+label span {
    background: url(./icon/checkbox.svg) -18px -22px no-repeat;
    background-size: 3em;
}

/* Other */
.rotate {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

#html_element>div {
    margin: auto;
}