@charset "UTF-8";

/* Main Style */
body {
    font-family: Arial, sans-serif, '黑體-繁';
    margin: 0px;
    background-color: #EFEFEF;
}

button:focus {
    outline: 0;
}

#mainwrapper {
    background-color: #EFEFEF;
    overflow: auto;
    font-style: normal;
    font-weight: 400;
    height: auto;
    width: auto;
    float: none;
}

#header {
    text-align: center;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    color: #929292;
    background-color: #EFEFEF;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;
    color: #929292;
    line-height: 0;
}

#logo-img {
    width: 100%;
    height: 100%;
    padding: 0px;
    color: #929292;
}

/* Login Information */
.login-information img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login-user>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3b78c3;
}

.login-user>ul>li:first-child {
    float: left;
}

.login-user>ul>li {
    float: right;
}

.login-user>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
}

.login-user>ul>li a:hover {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.2);
}

.login-user,
.login-user>ul,
.login-user>ul>li,
.login-user>ul>li .login-menu,
.login-user #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login-user>ul>li>.login-menu {
    padding: 5px 25px 5px 25px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 1px;
}

.login-username {
    float: right;
}

.user-icon {
    display: none;
    width: 30px;
}

/* Notification */
.notification {
    float: right;
}

.notification-link:hover,
.active {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.2);
}

.notification-icon {
    width: 30px;
    height: 28px;
    vertical-align: middle;
}

.notification-count {
    padding: 3px 7px 3px 7px;
    background-color: red;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    position: absolute;
    margin-left: 20px;
    margin-top: -2px;
    font-size: 11px;
    display: none;
}

.notification-link:hover>.notification-count {
    background-color: #e60202;
}

#notif_wrapper {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 38px;
    margin-left: -164px;
    width: 400px;
    z-index: 1;
    display: none;
}

#notif_wrapper:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent white;
    margin-top: -20px;
    margin-left: 188px;
}

#notificationTitle {
    z-index: 1;
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}

#notificationsBody {
    background-color: #ffffff;
    padding: 0px 0px 0px 0px;
}

.notif-loading {
    display: none;
    text-align: center;
}

.notif-loading img {
    width: 20px;
    line-height: 0;
}

.notifications ol {
    max-height: 284px;
    overflow-y: scroll;
}

.notifications ol,
.notifications li {
    float: none;
    padding: 0px;
    list-style: none;
}

.notifications li {
    border-bottom: 1px solid #dddddd;
}

.notifications li:last-child {
    border-bottom: 0px solid #dddddd;
}

.notifications li>div>a,
.notifications li>div>a:hover {
    display: table;
    color: black;
    text-align: left;
    padding: 0px;
    width: 100%;
}

.notifications li>div>a>.notif-avatar,
.notifications li>div>a>.notif-info {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 0px;
}

.notifications li>div>a>.notif-avatar {
    width: 36px;
    height: 36px;
    line-height: 0;
    padding: 10px 10px;
    padding-left: 15px;
    vertical-align: middle;
}

.notifications li>div>a>.notif-avatar img {
    border-radius: 2px;
}

.notifications ol li .unread {
    background-color: rgba(138, 166, 222, 0.17);
}

.notifications ol li .read {
    background-color: #ffffff;
}

.notif-date {
    color: #9c9c9c;
    display: block;
    font-size: 15px;
}

#notificationFooter {
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
}

#notificationFooter a {
    color: black;
    text-decoration: none;
}

#notificationFooter a:hover {
    color: #4d8ee6;
    background-color: transparent;
    text-decoration: underline;
}

/* Toogle */
.plusminus {
    float: right;
}

.plusminus img {
    width: 15px;
    vertical-align: middle;
}

.toggle-hide {
    display: none;
}

/* Information (logout, login..etc) */
.information_box {
    margin-top: 1em;
}

.information {
    border-color: #afafaf;
    border-radius: 5px;
    border-style: solid;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    background-color: #ffffff;
    text-align: center;
}

.ifnorefresh {
    color: blue;
}

.info {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.novalue {
    width: 70%;
    text-align: center;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.novalue-article {
    margin: 0.5em auto;
}

.novalue>a {
    color: #000000;
    font-size: 2.5em;
    font-weight: bold;
}

.delete {
    display: table-cell;
    text-align: center;
    width: 50px;
}

.alert {
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
}

/* index.php */
.box {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 1%;
    padding: 0em;
    border-radius: 5px;
    border-color: #E9E9E9;
    background-color: #ffffff;
}

.box-detail {
    padding: 0.5em;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #E9E9E9;
    background-color: #F9F9F9;
}

.box-detail>dl {
    font-size: 16px;
    color: #4993C5;
    text-decoration: none;
    background-color: #F8FBFD;
    margin: 0 auto;
    border-width: 0;
    border-color: #DDE5EA;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-weight: 600;
    display: table;
    table-layout: fixed;
    width: 100%;
    word-wrap: normal;
}

.box-detail>dl>dt {
    padding: 10px 16px;
}

.box-detail>dl>dd {
    display: table-cell;
    vertical-align: middle;
}

.box-reply {
    width: 140px;
}

.box-reply a {
    float: left;
    width: 50%;
    white-space: nowrap;
}

.box-reply .minor {
    text-align: right;
}

.box-reply a span {
    display: block;
}

.box-latest-reply {
    width: 180px;
    text-align: right;
    overflow: hidden;
}

.box-latest-reply>span {
    padding: 10px 16px;
}

.box-ol {
    padding: 0px;
    margin: 0px;
    display: table;
    table-layout: fixed;
    width: 100%;
    word-wrap: normal;
    list-style-type: none;
}

.box-list {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D5D5D5;
    position: relative;
}

.box-list .author-avatar {
    width: 5%;
    display: table-cell;
    line-height: 0;
    vertical-align: middle;
}

.box-list .author-avatar span>a {
    padding: 10px 0px 10px 10px;
    display: block;
}

.box-list .author-avatar img {
    display: block;
    border-radius: 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.list-block {
    display: table-cell;
    vertical-align: middle;
}

.box-list>.article-title {
    width: auto;
}

.box-list>.action-block {
    display: none;
    float: right;
    margin-left: auto;
    margin-right: 5px;
    padding-top: 0.75em;
}

.box-list>.action-block button {
    width: 90%;
    color: #ffffff;
    background-color: #03A9F4;
    font-size: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: #54b7fd;
    text-align: center;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.box-list>.action-block button:first-child {
    margin-bottom: 2px;
}

.box-list>.action-block button:hover {
    background-color: #107fb1;
}

.box-list>.action-block button:active {
    top: 1px;
}

.box-list>.stats {
    width: 140px;
    color: #717171;
}

.box-list .stats>dl {
    overflow: hidden;
    margin: 0px;
    padding: 0 10px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(208, 205, 205);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(208, 205, 205);
}

.box-list .stats dt {
    margin: 0px;
    padding: 0px;
    float: left;
    max-width: 100%;
    margin-right: 5px;
}

.box-list .stats dd {
    margin: 0px;
    padding: 0px;
    float: right;
    text-align: right;
    max-width: 100%;
}

.box-list .last-reply {
    width: 180px;
    text-align: right;
    overflow: hidden;
}

.last-reply-info {
    margin: 0px;
    padding: 15px 10px 15px 10px;
}

.last-reply-info .avatar {
    margin-top: 2px;
    margin-left: 8px;
    float: right;
    width: 30px;
    height: 30px;
}

.last-reply-info .reply-author {
    display: block;
    color: #A7B2A5;
    word-break: break-all;
    text-decoration: none;
    width: 100%;
    max-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.last-reply-info .reply-author:hover {
    color: #535252;
    text-decoration: underline;
}

.last-reply-info dd {
    margin: 0px;
    white-space: nowrap;
}

.last-reply-info .dateTime {
    color: #8a8989;
    text-decoration: none;
}

.last-reply-info .dateTime:hover {
    text-decoration: underline;
}

.box-title>.title {
    font-size: 16px;
    line-height: 20px;
    max-width: 100%;
    word-wrap: break-word;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.box-title {
    padding: 15px 10px 15px 10px;
}

.box-title .title {
    width: 85%;
    max-width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.box-title .article-link {
    display: block;
    width: 50%;
    max-width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.box-title .article-author {
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.box-title .box-date {
    display: table-cell;
    color: #909090;
    font-weight: normal;
}

.box-title .box-username {
    display: inline-block;
    color: #A7B2A5;
    word-break: break-all;
    text-decoration: none;
    width: 60%;
    max-width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}

.box-title .box-username:hover {
    color: #535252;
    text-decoration: underline;
}

.box-title .box-link {
    color: #4993C5;
    font-weight: bold;
    word-break: break-all;
    text-decoration: none;
}

.box-title .box-link:hover {
    text-decoration: underline;
}

.box-title .box-link:visited {
    color: #84b1c7;
}

.box-title .box-link>span {
    color: #666666;
    font-weight: normal;
}

.box-title .box-link>span:hover {
    color: #666666;
    font-weight: normal;
    text-decoration: underline;
}

.index-category {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.index-category>li {
    list-style-type: none;
}

.index-category .category-title {
    padding: 14px 10px;
    border-width: 0px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #4A4E51;
    flex: 0 0 auto;
}

.index-category .category-block {
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.index-category .category-block .name {
    width: auto;
    display: inline;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: x-large;
    font-weight: normal;
}

.index-category .category-block a {
    color: #FFFFFF;
    text-decoration: none;
}

.index-category .category-block a:hover {
    text-decoration: underline;
}

.index-category .category-icon {
    width: 20px;
    height: 20px;
    flex: 0 0 auto;
}

.index-category .toggle-category {
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    float: right;
    cursor: pointer;
}

/* Content */
.content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    border-radius: 6px;
    background-color: #FFFFFF;
    letter-spacing: 1pt;
}

.content p {
    margin-bottom: 0px;
}

.content-from,
.content-author,
.content-date {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 480px;
}

.content-from {
    color: #666666;
    display: inline-block;
}

.content-author {
    color: #666666;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
}

.content-author>a {
    font-weight: bold;
    color: #656565;
    text-decoration: none;
    overflow: hidden;
}

.content-author>a:hover {
    color: #4993c5;
    text-decoration: underline;
}

.content-date {
    color: #666666;
    display: inline-block;
}

.content-main {
    display: flex;
    margin: auto;
    padding: 5px;
    border-radius: 6px;
    border-color: #E9E9E9;
    border-style: solid;
    border-width: 1px;
    background-color: #F9F9F9;
}

.content-block .content-ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.content-block .content-li {
    list-style: none;
    background-color: #ffffff;
    padding: 0px;
    border-radius: 4px;
}

.content-block .reply-li {
    list-style: none;
    margin: 16px auto;
    background-color: #ffffff;
    padding: 0px;
    border-radius: 4px;
}

.content-block .reply-main {
    display: flex;
    margin: auto;
    padding: 5px;
    border-radius: 6px;
    border-color: #E9E9E9;
    border-style: solid;
    border-width: 1px;
    background-color: #fdfdfd;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

.content-block .reply-main.highlight {
    background-color: #d3efff;
}

.content-block .reply-li .content-box>article {
    min-height: 85%;
}

.content-author-info {
    display: block;
    border: 1px solid #e9e9e9;
    border-radius: 6px;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 18%;
    height: 0%;
}

.content-author-info>.author {
    background-color: #d5d5d5;
    padding: 8px;
    margin: 0px;
    border: 0 solid #e9e9e9;
    border-top-width: 1px;
    border-bottom-width: 1px;
    font-size: 100%;
    font-weight: normal;
}

.content-author-info>.author>.author-name>a {
    font-weight: bold;
    margin: 0px;
    color: #656565;
    background-color: #d5d5d5;
    text-decoration: none;
    display: block;
    overflow: hidden;
}

.content-author-info>.author>.author-name>a:hover {
    color: #4993c5;
    text-decoration: underline;
}

.author-name>a span {
    display: block;
}

.author-name>a span:last-child {
    font-size: 16px;
    font-weight: normal;
}

.content-author-info>.author-detail {
    font-size: 11px;
    padding: 4px 6px;
    border: 0 solid rgb(233, 233, 233);
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.content-author-info .author-joined {
    margin-top: 0px;
    margin-bottom: 5px;
    overflow: hidden;
}

.content-author-info .author-joined>dt {
    float: left;
    max-width: 100%;
    margin-right: 0px;
}

.content-author-info .author-joined>dd {
    float: right;
    margin-left: 0px;
    text-align: right;
    max-width: 100%;
}

.content-author-info .author-article {
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
}

.content-author-info .author-article>dt {
    float: left;
    max-width: 100%;
    margin-right: 0px;
}

.content-author-info .author-article>dd {
    float: right;
    margin-left: 0px;
    text-align: right;
    max-width: 100%;
}

.content-author-info .author-avatar {
    padding: 5px;
    background-color: #fcfcfc;
    border-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
}

.content-author-info .avatar-board a {
    display: block;
    font-size: 0;
}

.content-author-info .avatar-board img {
    border-radius: 3px;
}

.content-box {
    width: 100%;
    display: block;
    margin-left: 1em;
    word-break: break-word;
}

.content-box>article {
    padding: 8px;
    word-break: break-all;
    min-height: 80%;
}

.content-box>article blockquote {
    background: #fff7d9;
    margin: .25em 0;
    border-left: .3em solid #f4e59f;
    padding: .5em .5em .5em .75em;
}

.content-box>article code {
    display: block;
    background: #f1f1f1;
    white-space: pre;
    padding: 1em;
    text-align: left;
    margin: .25em 0;
    max-height: 200px;
    overflow-y: scroll;
}

.content-edit {
    background-color: #f8f8f8;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.content>h1 {
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    max-width: 80%;
    margin-top: 0em;
    margin-bottom: 0em;
    font-weight: normal;
}

.content>p {
    margin-top: 5px;
}

.content-box>.article-date {
    text-align: right;
    font-size: 10pt;
    color: #5d5c5c;
    padding-top: 10px;
    margin-top: 8px;
    border-style: dashed;
    border-color: #c7c7c7;
    border-top-width: 2px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
}

.content-box>.article-date a {
    text-decoration: none;
    text-align: right;
    font-size: 10pt;
    color: #5d5c5c;
}

.content-box>.article-date a:hover {
    text-decoration: underline;
    color: #101010;
}

.content-block .content-author-info {
    position: relative;
}

.content-block .arrow {
    position: absolute;
    top: 10px;
    right: -10px;
    display: block;
    width: 0px;
    height: 0px;
    line-height: 0px;
    border: 10px solid transparent;
    border-left-color: rgb(233, 233, 233);
    -moz-border-left-colors: rgb(233, 233, 233);
    border-right: none;
}

.content-block .arrow span {
    position: absolute;
    top: -10px;
    left: -11px;
    display: block;
    width: 0px;
    height: 0px;
    line-height: 0px;
    border: 10px solid transparent;
    border-left-color: rgb(255, 255, 255);
    -moz-border-left-colors: rgb(255, 255, 255);
    border-right: none;
}

/* Submit */
.submit {
    margin-top: 1em;
    text-align: center;
}

.submit>button {
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: #000000;
    font-size: larger;
}

.submit>button:hover {
    background-color: #50d6ff;
    border-color: #c3fff7;
    color: #ffffff;
    transition: all .2s ease-in-out 0s;
}

.submit_edit {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.submit_edit>button {
    width: 50%;
    height: 40px;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: #000000;
    font-size: larger;
}

.submit_edit>button:hover {
    background-color: #50d6ff;
    border-color: #c3fff7;
    color: #ffffff;
    transition: all .2s ease-in-out 0s;
}

/* Category */
.category {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.category-name {
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
}

.category-name:hover {
    width: 100%;
    cursor: pointer;
    color: #41C2A0;
    text-decoration: none;
}

.category-name .total-post,
.today-post {
    color: #F26C4F;
    font-weight: bold;
    font-size: 1.0em;
}

.category-description {
    font-size: initial;
    color: #666666;
    padding: 0.5em;
}

.category-board-list {
    float: none;
    width: 100%;
}

.category-board-title {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #eaecef;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: #9199a2;
}

.category-board-name {
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.category-board-name ol {
    padding-left: 0;
    margin-top: 0;
    display: -webkit-flex;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
}

.category-board-li {
    display: -webkit-flex;
    display: flex;
    width: 359px;
    margin-bottom: 16px;
    padding: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #d1d5da;
    border-radius: 3px;
    background-color: #f7f7f7;
}

.category-board-li:nth-last-child(1) {
    margin-bottom: 0px;
}

.category-board-li:nth-last-child(2) {
    margin-bottom: 0px;
}

.category-board-name .category-board-box {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
}

.category-board-box>span {
    position: relative;
}

.category-board-box>span>a {
    font-weight: bold;
    color: #4993C5;
    text-decoration: none;
}

.category-board-box>span>a:hover {
    cursor: pointer;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #4993C5;
}

.category-board-box .board-box-name {
    width: 60%;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.category-board-box .board-box-name span a:hover {
    cursor: pointer;
    color: #4993C5;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #4993C5;
}

.category-board-box .description .p1 {
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.category-board-box .p1 {
    width: 60%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    -webkit-box-flex: 1;
    color: #586069;
    margin-bottom: 16px;
    margin-top: 8px;
    -webkit-flex-grow: 1;
    -webkit-flex-shrink: 0;
    -webkit-flex-basis: auto;
}

.category-board-box .p2 {
    font-size: small;
    margin-bottom: 0;
    margin-top: 0;
}

.category-hide {
    display: -webkit-flex;
    display: flex;
    width: 359px;
    margin-bottom: 0px;
    padding: 16px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    background-color: transparent;
    border-color: transparent;
}

/* Board */
.board {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.add-board {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.board-info {
    width: 100%;
    margin: auto;
    margin-bottom: 5px;
    background-color: #ffffff;
}

.board-name {
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.board-name a {
    color: #000000;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
}

.board-name a:hover {
    cursor: pointer;
    color: #41C2A0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #41C2A0;
}

.board-name .total-post,
.today-post {
    color: #F26C4F;
    font-weight: bold;
    font-size: 1.0em;
}

.board-name img.refresh {
    width: 20px;
    height: 20px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.board-description {
    font-size: initial;
    color: #666666;
    padding: 0.5em;
}

.pinned-list {
    text-align: left;
    padding: 0em;
    background-color: #f1ffda;
    border: #ddd solid 1px;
    border-radius: 2px;
    margin-top: 2px;
}

.pinned-list>.title {
    margin: 0.5em 0.5em;
    display: inline-block;
}

.pinned-list .list-button {
    display: inline-block;
}

.pinned-list .list-button>a {
    height: auto;
    line-height: inherit;
    display: inline-block;
    outline: 0 none;
    color: #FFFFFF;
    background-color: #23c34d;
    text-decoration: none;
}

.pinned-list .list-button>a:hover {
    background-color: #179a3a;
    text-decoration: none;
}

.pinned-list .list-button>a>span {
    padding: 5px;
    display: block;
    text-align: center;
    font-weight: 600;
}

.pinned-list .update-loading {
    display: inline-block;
    vertical-align: middle;
}

.pinned-list .update-loading img {
    width: 24px;
    height: 24px;
    line-height: 0;
    vertical-align: middle;
}

.pinned-list .update-info {
    display: inline-block;
}

.pinned-list .update-info span {
    display: none;
}

.article-pinned li {
    display: table;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D5D5D5;
}

.article-pinned li:last-child {
    border: none;
}

.pinned-author {
    display: block;
    color: #A7B2A5;
    word-break: break-all;
    text-decoration: none;
    width: 50%;
    max-width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.pinned-author a {
    color: #A7B2A5;
    text-decoration: none;
}

.pinned-author a:hover {
    text-decoration: underline;
}

.article-list {
    text-align: left;
    padding: 0.5em 0.5em;
    background-color: #daf1ff;
    border: #ddd solid 1px;
    border-radius: 2px;
    margin-top: 2px;
}

.article-list>span {
    vertical-align: middle;
}

.board-ol {
    background: #FCFCFC;
    padding: 0px;
    margin-top: 8px;
    border-top: 0;
    border-radius: 6px;
    list-style-type: none;
}

.board-title>span>a {
    color: #4993C5;
    text-decoration: none;
}

.board-title>span>a:hover {
    text-decoration: underline;
}

.board-list {
    border-width: 1px;
    border-style: solid;
    border-color: #E9E9E9;
}

.board-list:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.board-list:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.board-img {
    margin: 0.5em;
    display: inline-block;
}

.board-text {
    margin-top: 0.5em;
    margin-bottom: 0em;
    display: inline-block;
    width: 60%;
}

.board-title {
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.board-title>span>a {
    font-size: large;
    font-weight: bold;
}

.board-info>.p1 {
    margin: 0px;
    color: #454545;
    font-size: medium;
    display: inline-block;
}

.board-latest {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 1em;
    display: inline-block;
    float: right;
    width: 25%;
}

.board-latest>.board-latest-title {
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
}

.board-latest>.board-latest-title a {
    color: #8F8F8F;
    text-decoration: none;
}

.board-latest>.board-latest-title a:hover {
    color: #101010;
    text-decoration: underline;
}

.board-latest>.board-latest-info {
    margin: 0px;
    color: #666666;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
}

.board-latest>.board-latest-info>a {
    color: #4993C5;
    text-decoration: none;
}

.board-latest>.board-latest-info>a:hover {
    text-decoration: underline;
}

.board-icon {
    width: 35px;
    height: 35px;
    display: inline-block;
}

/* Post */
.post {
    width: 100%;
    margin: auto;
    line-height: 40px;
}

/* Common Button */
.common-button {
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
    line-height: 40px;
}

.common-button a {
    height: auto;
    line-height: inherit;
    display: inline-block;
    outline: 0 none;
    text-decoration: none;
}

.common-button a:hover {
    background-color: #101010;
    border-radius: 5px;
    text-decoration: none;
}

.common-button a span {
    font-size: 1.5em;
    color: #FFFFFF;
    background-color: #4993C5;
    padding: 0 16px;
    border-radius: 5px;
    display: block;
    text-align: center;
    font-weight: 600;
}

.common-button a:hover span {
    background-color: rgb(74, 78, 81);
}

/* Login */
.login_div {
    margin: 0 auto;
    background: #fff;
    max-width: 400px;
    padding: 3em 2em 2em;
    text-align: center;
}

.login_input {
    outline: none;
    font-size: .9em;
    letter-spacing: 1px;
    color: #666;
    padding: 1em 1em;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
    display: block;
    border: 1px solid #dde0df;
    background: #e4eae7;
}

.login_submit>button {
    font-size: 1em;
    color: #ffffff;
    background: #0f9d58;
    border: 1px solid #0f9d58;
    outline: none;
    cursor: pointer;
    padding: .8em 1em;
    letter-spacing: 1px;
    width: 100%;
}

.login_submit>button:hover {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}

.horizon {
    border-top: 1px solid #ccc;
    margin-top: 1em;
    margin-bottom: 1em;
}

.login-action {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    line-height: 2;
}

.remember-me {
    display: table-cell;
}

.forgot-password {
    display: table-cell;
}

.forgot-password>a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.forgot-password>a:hover {
    color: #0f9d58;
    text-decoration: underline;
}

.social_login_title>h3 {
    font-size: 1.25em;
    text-align: center;
    letter-spacing: 2px;
    margin: 15px 0px;
}

.social_login {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-around;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-around;
    padding: 0em 1em;
}

.social_login_box {
    width: auto;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}

.social_login_link {
    text-decoration: none;
}

.social_login_img {
    width: 100%;
}

/* Error */

.error {
    text-align: center;
    font-style: inherit;
    color: red;
}

.error-box {
    padding: 1em;
}

.error-inbox {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-style: solid;
    border-color: #6b6b6b;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.error-inbox>.error-info {
    display: inline-block;
    font-size: 1.5em;
    vertical-align: middle;
    font-weight: bold;
}

.error-inbox>.error-back>span>a {
    text-decoration: none;
    color: #278fe9;
}

.error-inbox>.error-back {
    display: block;
    padding-left: 2.5em;
    font-size: 1em;
    font-weight: bold;
}

.error-icon {
    display: inline-block;
    vertical-align: middle;
}

.error-icon>img {
    width: 30px;
}

/* Sign up */

.signup_div {
    margin: 0 auto;
    background: #fff;
    max-width: 400px;
    padding: 1em 0em 2em;
    text-align: center;
}

.signup_input {
    outline: none;
    font-size: .9em;
    letter-spacing: 1px;
    color: #666;
    padding: 1em 1em;
    margin: auto;
    width: 90%;
    box-sizing: border-box;
    margin-bottom: 1em;
    display: block;
    border: 1px solid #dde0df;
    background: #e4eae7;
}

.signup-email {
    overflow-x: scroll;
    padding: 0.5em 1em;
}

.username-input {
    margin-bottom: 1em;
}

.username-input>.no-bottom {
    margin-bottom: 0em;
}

.username-input>.show-username {
    color: #929292;
    text-align: left;
    padding: 0px 20px;
    margin: 0.5em 0em;
}

.signup_submit>button {
    font-size: 1em;
    color: #ffffff;
    background: #0f9d58;
    border: 1px solid #0f9d58;
    outline: none;
    cursor: pointer;
    padding: .8em 1em;
    margin-top: 1em;
    letter-spacing: 1px;
    width: 95%;
}

.signup_submit>button:hover {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}

.signup_link {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.signup_link>span {
    display: table-row;
    font-size: large;
}

.signup_link>a {
    display: table-cell;
    font-size: 1em;
    width: 100%;
    color: #ffffff;
    background: #0f9d58;
    border: 1px solid #0f9d58;
    outline: none;
    cursor: pointer;
    padding: .8em 5em;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
}

.signup_link>a:hover {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}

.user_language_box {
    padding: 0px;
    margin: auto;
}

.user_language {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    letter-spacing: 1px;
    padding-bottom: 1em;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.lang_label {
    text-align: left;
    font-size: large;
    padding: 0.5em 0em;
    display: inline-flex;
    display: -webkit-inline-flex;
}

.lang_select {
    background-color: #e4eae7;
    border-color: #dde0df;
    border-style: solid;
    border-width: 1px;
    outline: none;
    font-size: 1em;
    padding: 0.5em 0em;
    display: inline-flex;
    display: -webkit-inline-flex;
    width: 56%;
}

.captcha-refresh>p {
    margin-bottom: 0px;
}

/* Article */
.article-div {
    width: 60%;
    height: auto;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}

.article-form {
    margin-left: auto;
    margin-right: auto;
}

.article {
    width: 100%;
    height: 40%;
    border-width: 4px;
    border-style: solid;
    border-color: #cccccc;
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.article-title {
    text-align: left;
    white-space: nowrap;
}

.article-title>a {
    color: #656565;
    text-decoration: none;
}

.article-title>a:hover {
    color: #4993c5;
}

.reply-block {
    background-color: #f5f5f5;
    padding: 1em;
    padding-top: 0em;
    border-radius: 6px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.reply-div {
    padding-top: 1em;
    position: relative;
    height: auto;
}

.reply-div .arrow {
    position: absolute;
    top: 26px;
    left: 152px;
    display: block;
    width: 0px;
    height: 0px;
    line-height: 0px;
    border: 8px solid transparent;
    border-left-color: rgb(233, 233, 233);
    -moz-border-left-colors: rgb(233, 233, 233);
    border-right: none;
}

.reply-div .arrow span {
    position: absolute;
    top: -10px;
    left: -11px;
    display: block;
    width: 0px;
    height: 0px;
    line-height: 0px;
    border: 10px solid transparent;
    border-left-color: rgb(255, 255, 255);
    -moz-border-left-colors: rgb(255, 255, 255);
    border-right: none;
}

.reply-avatar {
    float: left;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    line-height: 0;
}

.reply-avatar>img {
    width: 140px;
    height: 140px;
}

.reply-form {
    margin-left: 160px;
    margin-right: auto;
}

.reply-submit {
    text-align: center;
}

.reply-submit>button {
    font-size: 1em;
    color: #ffffff;
    background: #0f9d58;
    border: 1px solid #0f9d58;
    outline: none;
    cursor: pointer;
    padding: .8em 1em;
    margin-top: 1em;
    letter-spacing: 1px;
    width: 20%;
}

.reply-submit>button:hover {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}

.reply-loading {
    display: inline-block;
    vertical-align: middle;
}

.reply-loading img {
    width: 30px;
    height: 30px;
    line-height: 0;
}

.reply-info {
    padding-top: 1em;
}

.reply-info div {
    display: none;
}

.reply-detail {
    border-style: dashed;
    border-color: #c7c7c7;
    border-top-width: 1px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    color: #5d5c5c;
    text-align: right;
    padding: 5px 5px;
}

.reply-detail a {
    color: #5d5c5c;
    text-decoration: none;
}

.reply-detail a:hover {
    color: #101010;
    text-decoration: underline;
}

/* Article Action */
.article-action {
    display: table;
    width: 100%;
    height: auto;
    margin: 0.5em auto;
    background-color: #ffffff;
}

.action-bar {
    display: table-cell;
    vertical-align: middle;
}

.action-bar a {
    color: #ffffff;
    display: table-cell;
    text-decoration: none;
}

.action-button {
    position: relative;
}

.action-button>a {
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
}

.button-icon {
    width: 20px;
    height: 20px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.article-action .btn {
    color: #fff;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none;
}

.article-action .btn a {
    color: #fff;
    text-decoration: none;
}

.article-action .btn img {
    float: left;
    margin-right: 5px;
    height: 20px;
    width: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.article-action .btn span {
    float: left;
    margin-top: 2px;
}

.btn-edit {
    float: right;
    color: #fff;
    background-color: #f1bc1f;
    border-color: #ffc107;
}

.btn-edit:hover {
    background-color: #e2b01a;
    border-color: #e0a800;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-primary {
    float: left;
    color: #fff;
    background-color: #61a9f7;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #619ad8;
}
/* End Article Action */

/* Create or Edit */
.action-box {
    display: table;
    width: 100%;
    height: auto;
    margin: 0em auto;
    background-color: #ffffff;
}

.article-property,
.article-pinned {
    display: table-cell;
}

.article-pinned .checkbox {
    text-align: right;
}
/*  End Create or Edit */

.article-input {
    margin-bottom: 0.5em;
    font-size: large;
    white-space: nowrap;
}

.article-content {
    color: black;
    text-align: center;
    white-space: nowrap;
}

.article-text {
    resize: none;
    word-break: break-all;
}

.article-text-n {
    resize: none;
    word-break: break-all;
    font-size: 3em;
}

.article-submit {
    text-align: center;
}

.article-submit>button {
    font-size: 1em;
    color: #ffffff;
    background: #0f9d58;
    border: 1px solid #0f9d58;
    outline: none;
    cursor: pointer;
    padding: .8em 1em;
    margin-top: 1em;
    letter-spacing: 1px;
    width: 15%;
}

.article-submit>button:hover {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}

/* Reset password */
.reset-pw-div {
    margin: 0 auto;
    background: #fff;
    max-width: 400px;
    padding: 0.5em 2em 2em;
    text-align: center;
}

.reset-pw-input {
    outline: none;
    font-size: .9em;
    letter-spacing: 1px;
    color: #666;
    padding: 1em 1em;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
    display: block;
    border: 1px solid #dde0df;
    background: #e4eae7;
}

.reset-pw-submit>button {
    font-size: 1em;
    color: #ffffff;
    background: #0f9d58;
    border: 1px solid #0f9d58;
    outline: none;
    cursor: pointer;
    padding: .8em 1em;
    letter-spacing: 1px;
    width: 100%;
}

.reset-pw-submit>button:hover {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}

.reset-pw-login {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.reset-pw-login>a {
    display: table-cell;
    font-size: 1em;
    width: 100%;
    color: #ffffff;
    background: #0f9d58;
    border: 1px solid #0f9d58;
    outline: none;
    cursor: pointer;
    padding: .8em 5em;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
}

.reset-pw-login>a:hover {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}

/* footer */

footer {
    margin-top: 0%;
    text-align: center;
    width: auto;
    height: auto;
    background-color: #EFEFEF;
    border: 0px;
}

footer p {
    text-align: center;
    color: black;
}

#footer {
    width: 100%;
    float: none;
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 20px;
}

.footer_icon {
    width: 144px;
    height: 30px;
    text-decoration: none;
    white-space: nowrap;
    cursor: default;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.footer_icon a {
    text-decoration: none;
}

#footer .developer {
    color: #0366d6;
    font-weight: bold;
    text-decoration: none;
}

#footer .developer:hover {
    cursor: pointer;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #0366d6;
}

.change_language {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.language {
    width: 50%;
    background-color: transparent;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    outline: none;
}

/* Breadcrumb */
fieldset {
    margin: 0.5em auto;
    padding: 0px;
}

.breadcrumb {
    color: #d4d4d4;
    background-color: #fcfcfc;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    overflow: hidden;
    zoom: 1;
    max-width: 100%;
    box-sizing: border-box;
    height: 40px;
    width: 60%;
}

.breadcrumb .crumbs {
    list-style: none;
    display: inline;
    padding: 0px;
    margin: 0px;
}

.breadcrumb .crust {
    list-style: none;
    line-height: 40px;
    display: block;
    float: left;
    position: relative;
    zoom: 1;
    max-width: 50%;
}

.breadcrumb .crust .main-name {
    display: none;
}

.breadcrumb .crust:first-child a.crumb,
.breadcrumb .crust.firstVisibleCrumb a.crumb {
    padding-left: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.breadcrumb .crust a.crumb,
.breadcrumb .crust .arrow {
    line-height: inherit;
}

.breadcrumb .crust a.crumb>.crumb-category,
.breadcrumb .crust a.crumb>.crumb-board,
.breadcrumb .crust a.crumb>.crumb-article {
    display: block;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    max-width: 240px;
}

.breadcrumb .crust .arrow,
.breadcrumb .crust .arrow span {
    border-top-width: 20px;
    border-bottom-width: 20px;
}

.breadcrumb .crust .arrow {
    font-size: 16px;
    border: 20px solid transparent;
    border-right: 1px none black;
    border-left-width: 10px;
    border-left-color: #d5d5d5;
    -moz-border-right-colors: #d5d5d5;
    display: block;
    position: absolute;
    right: -10px;
    top: 0px;
    z-index: 50;
    width: 0px;
    height: 0px;
    line-height: inherit;
}

.breadcrumb .crust .arrow span {
    top: -20px;
}

.breadcrumb .crust .arrow,
.breadcrumb .crust .arrow span {
    border-top-width: 20px;
    border-bottom-width: 20px;
}

.breadcrumb .crust .arrow span {
    border: 20px solid transparent;
    border-right: 1px none black;
    border-left-width: 10px;
    border-left-color: #fcfcfc;
    -moz-border-right-colors: #fcfcfc;
    display: block;
    position: absolute;
    left: -11px;
    top: -20px;
    z-index: 51;
    white-space: nowrap;
    overflow: hidden;
    text-indent: 9999px;
    width: 0px;
    height: 0px;
}

.breadcrumb .crust a.crumb {
    cursor: pointer;
    font-size: 12px;
    color: rgb(143, 143, 143);
    text-decoration: none;
    background-color: rgb(252, 252, 252);
    padding: 0 10px 0 18px;
    margin: 0 0 -1px;
    border-bottom: 1px solid #d5d5d5;
    display: block;
    outline: 0 none;
    -moz-outline-style: 0 none;
    border-bottom: none;
    font-weight: 600;
}

.breadcrumb .crust:last-child a.crumb {
    color: #4993c5;
}

.breadcrumb .crust a.crumb,
.breadcrumb .crust .arrow {
    line-height: inherit;
}

.breadcrumb .crust:hover a.crumb {
    color: #656565;
    background-color: #d5d5d5;
}

.breadcrumb .crust:hover .arrow span {
    border-left-color: #d5d5d5;
}

.crumb-img img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.breadcrumb-img {
    width: 16px;
    vertical-align: text-bottom;
}

/* Other */
.rotate {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

#html_element>div {
    margin: auto;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
