@charset "UTF-8";

/* Mobile view */

@media screen and (min-width: 320px) and (max-width: 700px) {
    #logo {
        width: 40%;
        height: 40%;
    }
    
    .login_div {
        width: 100%;
    }

    .login-input {
        width: 85%;
    }

    .signup_div {
        width: 100%;
    }

    .signup-input {
        width: 85%;
        font-size: large;
    }

    .admin {
        width: auto;
    }

    .admin>table a {
        font-size: 1em;
        font-weight: bold;
        color: #0366d6;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
    }

    .change_language {
        width: 100%;
    }

    .setting_div {
        width: 100%;
    }

    .setting-input {
        width: 85%;
        font-size: medium;
    }

    .setting-textarea {
        width: 93%;
    }

    .novalue>a {
        font-size: 1em;
    }

    /* board */
    
    .add_board {
        width: 100%;
    }

    .board_name {
        width: 100%;
    }

    /* message */

    .message_div{
        width: 100%;
    }

    .message-input {
        width: 85%;
    }

    .message-edit {
        width: 85%;
    }

    .message-text-n {
        resize: none;
        word-break: break-all;
        font-size: 1.5em;
    }

    .box {
        width: 90%;
        margin-top: 1%;
        margin-bottom: 5%;
    }

    .box th {
        width: 70%;
    }

    .box td {
        font-size: 13px;
    }
    .submit_edit>button {
        width: 100%;
    }

    .pages>.pages_tag {
        padding: 3px 7px;
        font-size: large;
        white-space: nowrap;
    }

    .pages>.pages_more {
        padding: 0;
        font-size: medium;
    }

    .pages>.active {
        padding: 3px 10px;
        font-size: large;
        font-weight: bold;
        color: #ffffff;
        background-color: #4582FF;
    }

    .not_login {
        width: 98%;
    }
}




