@charset "UTF-8";


/* Mobile view */
@media screen and (min-width: 320px) and (max-width: 700px) {
    #logo {
        width: 40%;
        height: 40%;
    }

    .login_div {
        width: 100%;
    }

    .login-input {
        width: 85%;
    }

    .signup_div {
        width: 100%;
    }

    .signup-input {
        width: 85%;
        font-size: large;
    }

    .admin {
        width: auto;
    }

    .admin>table a {
        font-size: 1em;
        font-weight: bold;
        color: #0366d6;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
    }

    .change_language {
        width: 100%;
    }

    .setting_div {
        width: 100%;
    }

    .setting-input {
        width: 85%;
        font-size: medium;
    }

    .setting-textarea {
        width: 93%;
    }

    .novalue>a {
        font-size: 1em;
    }

    /* Pages */
    .pages {
        width: 100%;
        margin: auto;
        float: none;
    }

    .pages>.pages_tag {
        padding: 2px 5px;
        font-size: medium;
        white-space: nowrap;
    }

    .pages>.active {
        padding: 2px 5px;
    }

    .pages>.pages_first {
        padding: 2px 5px;
        font-size: medium;
    }

    .pages>.pages_final {
        padding: 2px 5px;
        font-size: medium;
    }

    /* Sort */
    .sort {
        width: 90%;
    }

    .sort_title {
        font-size: large;
    }

    /* Board */
    .board {
        width: 100%;
        padding: 0em;
        padding-bottom: 0.5em;
    }

    .add_board {
        width: 100%;
    }

    .board_name {
        width: 100%;
    }

    .board_name td {
        padding: 0.2em;
    }

    .board_name td:nth-child(2) {
        display: none;
    }

    .board_name td:nth-child(3) {
        display: none;
    }

    .board_latest {
        display: block;
        margin: 0px;
        float: none;
        font-size: 15px;
        margin-left: 58px;
    }

    .board_latest_info {
        display: none;
    }

    /* Post */
    .post {
        width: 95%;
    }

    .post_button {
        display: initial;
    }

    .post_link {
        display: initial;
    }

    /* Article */
    .article_div {
        width: auto;
    }

    .article-input {
        width: 85%;
    }

    .article-edit {
        width: 85%;
    }

    .article-text-n {
        resize: none;
        word-break: break-all;
        font-size: 1.5em;
    }


    /* Content */
    .content_from,
    .content_author,
    .content_date {
        font-size: medium;
    }

    .content_main {
        display: block;
        padding: 0em;
    }

    .content_box {
        margin-left: 0em;
        word-break: break-word;
    }

    .content_author_info>.date {
        display: none;
    }

    .content>p {
        margin: 0em;
    }

    .content>p:first-child {
        margin-top: 5px;
    }

    /* Box */
    .box {
        width: 90%;
        margin-top: 1%;
        margin-bottom: 5%;
    }

    .box_link {
        font-size: 15px;
        word-break: break-all;
    }

    .box_title span {
        font-size: small;
    }

    .box_detail dl {
        width: 100%;
    }

    .box_reply {
        display: none !important;
    }

    .box_latest_reply {
        text-align: right;
        padding-right: 1em;
    }

    /* home.php */
    .home_box {
        width: 100%;
    }

    /* Other */
    .submit_edit>button {
        width: 100%;
    }

    .not_login {
        width: 98%;
    }

    .novalue {
        margin-top: 10px;
    }
}