@charset "UTF-8";

/* Mobile view */
@media screen and (min-width: 280px) and (max-width: 680px) {
    #logo {
        width: 40%;
        height: 40%;
    }

    /* Login Information */
    .login-user>ul>li>.login-menu {
        padding: 5px 10px 5px 10px;
        font-size: 1em;
        font-weight: 700;
    }

    .login-user>ul>li>.web-name {
        font-weight: 700;
        padding: 10px 10px;
        line-height: 20px;
    }

    .login-user>ul>li .menu-button {
        font-weight: 700;
        padding: 10px 10px;
        line-height: 20px;
    }

    .login-username span {
        display: none;
    }

    .user-icon {
        display: block;
        width: 30px;
        height: 30px;
    }

    /* Notification */
    .notification {
        float: right;
    }

    .notification-link:hover {
        color: #FFFFFF;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .notification-icon {
        width: 30px;
        height: 30px;
        vertical-align: middle;
    }

    #notif_wrapper {
        margin-left: -200px;
        width: 100%;
        top: 40px;
        border: none;
    }

    #notif_wrapper:before {
        margin-left: 224px;
    }

    /* Login */
    .login-action {
        line-height: 2;
        font-size: 14px;
    }
    .social_login_title>h3 {
        font-size: 1em;
    }

    .social_login {
        justify-content: space-between;
        -webkit-justify-content: space-between;
    }

    .social_login_box {
        width: 100%;
    }

    /* Signup */
    .username-input>.show-username {
        padding: 0px 15px;
    }

    .signup_link>span {
        font-size: medium;
    }

    .signup_link>a {
        padding: .8em 1em;
    }

    .lang_select {
        width: 50%;
    }

    h1 {
        font-size: 1.5em;
    }

    .language {
        width: 70%;
    }

    .change_language {
        width: 100%;
    }

    .novalue>a {
        font-size: 1em;
        padding: 10px;
    }

    /* Reset password */
    .reset-pw-login>a {
        padding: .8em 1em;
    }

    /* Pagination */
    .pagination {
        float: initial;
        text-align: center;
    }

    .pagination-list li a {
        min-width: 15px;
        min-height: 20px;
        line-height: 25px;
        padding: 0 5px;
    }

    /* Category */
    .category {
        width: 90%;
    }

    .category-board-list {
        width: 100%;
        padding-left: 0px;
    }

    .category-board-name {
        width: 100%;
    }

    .category-board-li {
        width: 90%;
    }

    /* Board */
    .board {
        width: auto;
        padding: 0.25em;
    }

    .board-title {
        width: 100%;
    }

    .add-board {
        width: 100%;
    }

    .board-info {
        width: 100%;
        padding: 0em 0em 0em;
    }

    .board-info .board-name {
        padding: 5px;
    }

    .board-info .total-article {
        padding: 0px 5px;
    }

    .board-img {
        margin: 0.5em 0em 0em 0.5em;
    }

    .board-text {
        width: 80%;
        margin-bottom: 0em;
    }

    .board-latest {
        display: block;
        color: #666666;
        margin: 0px;
        float: none;
        font-size: 16px;
        margin-left: 48px;
    }

    .board-latest {
        width: 80%;
    }

    .board-latest-info {
        display: none;
    }

    /* Post */
    .post {
        width: 95%;
        line-height: 0px;
    }

    .post .common-button {
        padding-right: 10px;
        padding-left: 10px;
        display: block;
        line-height: 40px;
    }

    /* Common Button */
    .common-button {
        display: initial;
    }

    .common-button a {
        display: initial;
    }

    /* Article */
    .article-div {
        width: auto;
    }

    .article-edit {
        width: 85%;
    }

    .article-text-n {
        resize: none;
        word-break: break-all;
        font-size: 1.5em;
    }

    .article-submit>button {
        width: 100%;
    }

    /* Create or Edit */
    .action-box {
        margin-bottom: 0.5em;
    }

    .article-property,
    .article-pinned {
        display: table-row;
    }

    .article-pinned .checkbox {
        text-align: left;
    }
    /*  End Create or Edit */

    /* index.php */
    .category-index .category-title {
        font-size: large;
    }

    /* Content */
    .content {
        width: 90%;
    }

    .content-from,
    .content-author {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 280px;
    }

    .content-from,
    .content-author,
    .content-date {
        font-size: medium;
    }

    .content-main {
        display: block;
        padding: 0em;
    }

    .content-box {
        margin-left: 0em;
        word-break: break-word;
    }

    .content-box>article {
        min-height: 100px;
    }

    .content-box>article img {
        max-width: 260px !important;
    }

    .content-author-info {
        display: block;
        border: 0px solid #e9e9e9;
        border-radius: 6px;
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }

    .content-author-info>.author {
        display: table-cell;
        width: 100%;
        vertical-align: middle;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .content-author-info>.author>.author-name>a {
        margin: 0px;
        color: #656565;
        background-color: #d5d5d5;
        text-decoration: none;
        display: block;
        overflow: hidden;
    }

    .content-author-info>.author>.author-name>a:hover {
        text-decoration: underline;
    }

    .content-author-info>.author-detail {
        display: none;
    }

    .content-author-info .author-avatar {
        display: table-cell;
    }

    .content-author-info .avatar-board a {
        display: block;
        font-size: medium;
    }

    .content-author-info .avatar-board img {
        height: 48px;
        width: 48px;
        vertical-align: middle;
    }

    .content>h1 {
        max-width: 100%;
        margin-bottom: 5px;
    }

    .content>p {
        margin: 0em;
    }

    .content>p:first-child {
        margin-top: 5px;
    }

    .content-box>.article-date {
        padding: 8px;
    }

    .content-box>.article-date>span {
        float: none;
    }

    .content-block .reply-main {
        display: block;
    }

    .content-block .content-author-info {
        border: 1px solid #e9e9e9;
    }

    .reply-div .reply-avatar,
    .reply-div .arrow,
    .content-block .arrow {
        display: none;
    }

    .reply-div .reply-form {
        margin-left: auto;
    }

    .reply-submit>button {
        width: 50%;
    }

    /* Box */
    .box {
        width: 95%;
        margin-top: 1%;
        margin-bottom: 5%;
    }

    .box-title {
        padding-bottom: 5px;
        padding-top: 5px;
        display: block;
        width: 90%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .box-link {
        display: contents;
        font-size: 16px;
        word-break: break-all;
    }

    .box-title span {
        font-size: medium;
    }

    .box-title>.article-author>.box-date {
        display: none;
    }

    .box-detail dl {
        width: 100%;
    }

    .box-detail>dl>.box-reply {
        display: none;
    }

    .box-list .list-block {
        display: block;
    }

    .box-list .author-avatar {
        width: 40px;
        display: table-cell;
        line-height: 0;
        vertical-align: middle;
    }

    .box-list .author-avatar span>a {
        padding: 0px 0px 0px 2.5px;
        display: block;
    }

    .box-list .last-reply {
        display: block;
        float: right;
        width: auto;
        margin-top: -15px;
    }

    .box-list .last-reply-info {
        position: relative;
        padding-top: 0px;
        padding-bottom: 0px;
        width: auto;
    }

    .box-list .last-reply-info .avatar,
    .box-list .last-reply-info dt {
        display: none;
    }

    .last-reply-info .dateTime {
        font-size: 10pt;
    }

    .box-list .last-reply-date {
        float: right;
        text-align: right;
        white-space: nowrap;
    }

    .box-list>.action-block {
        display: none;
        position: absolute;
        padding-top: 0px;
        right: 14px;
        top: 3px;
        text-align: right;
    }

    .box-list>.action-block .action-button {
        top: 0px;
        right: 0px;
    }

    .box-list .stats {
        width: 80px;
        padding-left: 10px;
    }

    .box-list .stats dl:first-child {
        border: none;
        padding: 0;
        position: relative;
        font-size: 10pt;
        margin-top: 0;
    }

    .box-list .stats dl dt,
    .box-list .stats dl dd {
        float: none;
        display: inline;
    }

    .box-list .stats dl:last-child {
        display: none;
    }

    .pinned-ol .stats,
    .pinned-ol .last-reply {
        display: none;
    }

    /* Breadcrumb */
    .breadcrumb {
        overflow: visible;
        height: auto;
        width: 95%;
    }

    .breadcrumb .crust {
        max-width: 100%;
    }

    .breadcrumb .crust a.crumb {
        margin: 0px;
        padding-right: 8px;
    }

    .breadcrumb .crust a.crumb>.crumb-category,
    .breadcrumb .crust a.crumb>.crumb-board {
        max-width: 100px;
    }

    .breadcrumb .crust a.crumb>.crumb-article {
        max-width: 220px;
    }

    .breadcrumb .crust:last-child a.crumb {
        border-radius: 2px 0px 0px 2px;
    }

    /* Other */
    .word_left {
        display: none;
    }
    
    .submit_edit>button {
        width: 100%;
    }

    .novalue {
        margin-top: 0px;
    }
}