@charset "UTF-8";

/* Main Style */

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin: 0px;
    background-color: #EFEFEF;
}

#mainwrapper {
    background-color: #EFEFEF;
    overflow: auto;
    font-style: normal;
    font-weight: 400;
    height: auto;
    width: auto;
    float: none;
}

#header {
    text-align: center;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    color: #929292;
    background-color: #EFEFEF;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;
    color: #929292;
}

#logo-img {
    width: 100%;
    height: 100%;
    padding: 0px;
    color: #929292;
}

.admin {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    width: 50%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

.admin>table {
    width: 100%;
    height: 100%;
    border-spacing: 0;
}

.admin>table td {
    text-align: center;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.admin>table a {
    font-size: 2em;
    font-weight: bold;
    color: #0366d6;
    text-decoration: none;
}

.infomation {
    text-align: center;
}

.ifnorefresh {
    color: blue;
}

.info {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.novalue {
    width: 70%;
    text-align: center;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.novalue>a {
    color: #000000;
    font-size: 3em;
    font-weight: bold;
}

.language {
    width: 70%;
    background-color: transparent;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    outline: none;
}

.change_language {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.delete {
    display: table-cell;
    text-align: center;
    width: 50px;
}

.alert {
    height: 28px;
    margin-left: auto;
    margin-right: auto;
}

.nav-link ul li {
    list-style-type: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.nav-link ul {
    padding-left: 0%;
}

.nav-link ul li a {
    color: #929292;
    text-decoration: none;
}

.center h1 {
    text-align: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    color: #929292;
    white-space: nowrap;
}

.center h2 {
    width: 100%;
    text-align: center;
    color: #929292;
    white-space: nowrap;
}


/* index.php */
.box {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 1%;
    padding: 0em;
    border-radius: 5px;
    border-color: #E9E9E9;
    background-color: #ffffff;
}

.box_detail {
    padding: 0.5em;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #E9E9E9;
    background-color: #F9F9F9;
}

.box_detail dl {
    font-size: 16px;
    color: #4993C5;
    text-decoration: none;
    background-color: #F8FBFD;
    margin: 0 auto;
    border-width: 0;
    border-color: #DDE5EA;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-weight: 600;
    display: table;
    table-layout: fixed;
    width: 100%;
    word-wrap: normal;
}

.box_detail dt {
    padding: 10px 16px;
}

.box_detail dd {
    display: table-cell;
    vertical-align: middle;
}

.box_reply {
    width: 140px;
}

.box_latest_reply {
    width: 180px;
    text-align: center;
    overflow: hidden;
}

.box_ol {
    padding: 0px;
    margin: 0px;
    display: table;
    table-layout: fixed;
    width: 100%;
    word-wrap: normal;
    list-style-type: none;
}

.box_list {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D5D5D5;
}

.box_link {
    display: block;
    color: #4993C5;
    font-weight: bold;
    word-break: break-all;
    text-decoration: none;
}

.box_link:hover {
    text-decoration: underline;
}

.box_title {
    padding: 15px 10px 15px 10px;
    display: table-cell;
}

.box_title span {
    display: table-cell;
}

.box_title span:first-child {
    color: #666666;
}

.box_title span:last-child {
    color: #909090;
}

/* home.php */
.home_box {
    width: 60%;
    margin: auto;
    margin-bottom: 1em;
}

.home_box .box {
    width: 100%;
}

.home_box>form {
    margin-bottom: 1em;
}

.home_box .pages {
    margin-top: 0.5em;
}

.home_box .checkall {
    font-size: initial;
    display: table-cell;
    width: 48.5px;
    text-align: center;
}

/* Content */
.content {
    width: 70%;
    margin: auto;
    padding: 0.5em;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.content_from {
    color: #666666;
    display: inline-block;
}

.content_author {
    color: #666666;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
}

.content_date {
    color: #666666;
    display: inline-block;
}

.content_main {
    width: 100%;
    display: flex;
    margin: auto;
    border-radius: 6px;
    border-color: #E9E9E9;
    border-style: solid;
    border-width: 1px;
    background-color: #F9F9F9;
}

.content_author_info {
    display: block;
}

.content_box {
    width: 100%;
    display: block;
    margin-left: 1em;
    word-break: break-word;
}

.content_edit {
    background-color: #f8f8f8;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.content>h1 {
    margin-top: 0em;
    margin-bottom: 0em;
    font-weight: normal;
}

.content>p {
    margin-top: 5px;
}

/* Submit */
.submit {
    margin-top: 1em;
    text-align: center;
}

.submit>button {
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: #000000;
    font-size: larger;
}

.submit>button:hover {
    background-color: #50d6ff;
    border-color: #c3fff7;
    color: #ffffff;
    transition: all .2s ease-in-out 0s;
}

.submit_edit {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.submit_edit>button {
    width: 50%;
    height: 40px;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: #000000;
    font-size: larger;
}

.submit_edit>button:hover {
    background-color: #50d6ff;
    border-color: #c3fff7;
    color: #ffffff;
    transition: all .2s ease-in-out 0s;
}


/* Pages */

.pages {
    display: inline-block;
    text-align: center;
    float: right;
}

.pages>.pages_tag {
    padding: 2px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #E6E9ED;
    font-size: large;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
}

.pages>.active {
    padding: 2px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #E6E9ED;
    font-size: large;
    color: #FFFFFF;
    background-color: #41C2A0;
}

.pages>.pages_tag:hover:not(.active) {
    cursor: pointer;
    color: #ffffff;
    background-color: #41C2A0;
}

.pages>.pages_first {
    padding: 2px 10px;
    border-width: 1px;
    margin-left: 6px;
    border-style: solid;
    border-color: #E6E9ED;
    font-size: large;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
}

.pages>.pages_first:hover:not(.active) {
    cursor: pointer;
    color: #ffffff;
    background-color: #41C2A0;
}

.pages>.pages_final {
    padding: 2px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #E6E9ED;
    font-size: large;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
}

.pages>.pages_final:hover:not(.active) {
    cursor: pointer;
    color: #ffffff;
    background-color: #41C2A0;
}

/* Sort */

.sort {
    width: 60%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.sort_index {
    list-style-type: none;
}

.sort_title {
    padding: 14px 10px;
    font-size: x-large;
    border-width: 0px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #4A4E51;
    flex: 0 0 auto;
}

.sort_icon {
    width: 20px;
    height: 20px;
    flex: 0 0 auto;
}

.sort_toggle {
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    float: right;
    cursor: pointer;
}

/* Board */

.board {
    width: 75%;
    margin: auto;
    padding: 1em;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.add_board {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.board_name {
    width: 100%;
    margin: auto;
    margin-bottom: 5px;
    background-color: #ffffff;
}

.board_name th {
    padding: 0.5em;
}

.board_name td {
    padding: 0.5em;
    font-size: 1.0em;
}

.board_name th a {
    color: #000000;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
}

.board_name th a:hover {
    cursor: pointer;
    color: #41C2A0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #41C2A0;
}

.board_name .total_post, .today_post {
    color: #F26C4F;
    font-weight: bold;
    font-size: 1.0em;
}

.board_name img.refresh {
    width: 20px;
    height: 20px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.board_description {
    font-size: initial;
    color: #666666;
    padding: 0.5em;
}

.board_ol {
    display: block;
    background: #FCFCFC;
    padding: 0px;
    margin-top: 8px;
    border-top: 0;
    border-radius: 6px;
    list-style-type: none;
}

.board_title>span>a {
    color: #4993C5;
    text-decoration: none;
}

.board_title>span>a:hover {
    text-decoration: underline;
}

.board_list {
    border-width: 1px;
    border-style: solid;
    border-color: #E9E9E9;
}

.board_list:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.board_list:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.board_img {
    margin: 0.5em;
    display: inline-block;
}

.board_text {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;
}

.board_title {
    display: inline-block;
}

.board_title>span>a {
    font-size: large;
    font-weight: bold;
}

.board_info>.p1 {
    margin: 0px;
    color: #7A7A7A;
    font-size: small;
    display: inline-block;
}

.board_latest {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 1em;
    display: inline-block;
    float: right;
}

.board_latest>.board_latest_title {
    margin: 0px;
}

.board_latest>.board_latest_title a {
    color: #8F8F8F;
    text-decoration: none;
}

.board_latest>.board_latest_title a:hover {
    color: #101010;
    text-decoration: underline;
}

.board_icon {
    width: 35px;
    height: 35px;
    display: inline-block;
}

/* Post */

.post {
    width: 100%;
    margin: auto;
    line-height: 40px;
}

.post_button {
    display: inline-block;
    line-height: 40px;
}

.post_link {
    height: auto;
    line-height: inherit;
    display: inline-block;
    outline: 0 none;
    text-decoration: none;
}

.post_link:hover {
    background-color: #101010;
    border-radius: 5px;
    text-decoration: none;
}

.post_link span {
    font-size: 1.5em;
    color: #FFFFFF;
    background-color: #4993C5;
    padding: 0 16px;
    border-radius: 5px;
    display: block;
    text-align: center;
    font-weight: 600;
}

.post_link:hover span {
    background-color: rgb(74, 78, 81);
}

/* login */

.login_div {
    width: 28%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.login_form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.login {
    width: 100%;
    height: 40%;
    border-width: 4px;
    border-style: solid;
    border-color: #cccccc;
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.login td {
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    word-break: normal;
}

.login tr:first-child td:first-child {
    border-top-left-radius: 5px;
}

.login tr:first-child td:last-child {
    border-top-right-radius: 5px;
}

.login tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.login tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.login .login-a {
    text-align: center;
    white-space: nowrap;
}

.login-input {
    width: 90%;
    height: 35px;
    font-size: x-large;
}

.login_p {
    text-align: center;
}

.nowlogin {
    background-color: #95EFEF;
    color: #000000;
    text-align: center;
}


/* Error */

.error {
    text-align: center;
    font-style: inherit;
    color: red;
}


/* Sign up */

.signup_div {
    width: 28%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.signup_form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
}

.signup {
    width: 100%;
    height: 40%;
    border-width: 4px;
    border-style: solid;
    border-color: #cccccc;
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.signup td {
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    word-break: normal;
}

.signup tr:first-child td:first-child {
    border-top-left-radius: 5px;
}

.signup tr:first-child td:last-child {
    border-top-right-radius: 5px;
}

.signup tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.signup tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.signup-a {
    text-align: center;
    white-space: nowrap;
}

.signup-input {
    width: 90%;
    height: 35px;
    font-size: x-large;
}


/* Article */

.article_div {
    width: 60%;
    height: auto;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}

.article_form {
    margin-left: auto;
    margin-right: auto;
}

.article {
    width: 100%;
    height: 40%;
    border-width: 4px;
    border-style: solid;
    border-color: #cccccc;
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.article-title {
    text-align: center;
    white-space: nowrap;
}

.article-input {
    margin-bottom: 1em;
    font-size: x-large;
    white-space: nowrap;
}

.article-content {
    color: black;
    text-align: center;
    white-space: nowrap;
}

.article-text {
    resize: none;
    word-break: break-all;
}

.article-text-n {
    resize: none;
    word-break: break-all;
    font-size: 3em;
}

/* Change Setting */

.setting_div {
    width: 43%;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
}

.setting_form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.setting {
    width: 100%;
    height: 40%;
    border-width: 4px;
    border-style: solid;
    border-color: #cccccc;
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.setting td {
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    word-break: normal;
    white-space: nowrap;
    text-align: center;
}

.setting tr:first-child td:first-child {
    border-top-left-radius: 5px;
}

.setting tr:first-child td:last-child {
    border-top-right-radius: 5px;
}

.setting tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.setting tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.setting .change_setting-a {
    text-align: center;
    white-space: nowrap;
}

.setting-input {
    height: 35px;
    font-size: x-large;
}

.setting-textarea {
    resize: none;
    font-size: large;
    width: 98%;
}

.not_login {
    text-align: center;
    border-color: #929292;
    border-width: 2px;
    border-style: solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

/* footer */

footer {
    margin-top: 0%;
    text-align: center;
    width: auto;
    height: auto;
    background-color: #EFEFEF;
    border: 0px;
}

footer p {
    text-align: center;
    color: black;
}

#footer {
    /* Footer articles */
    width: 100%;
    float: none;
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 20px;
}

#footericon {
    width: 144px;
    height: 30px;
    text-decoration: none;
    white-space: nowrap;
    cursor: default;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#footer .developer {
    color: #0366d6;
    font-weight: bold;
    text-decoration: none;
}

#footer .developer:hover {
    cursor: pointer;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #0366d6;
}

/* Checkbox */
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    color: #f2f2f2;
}

input[type="checkbox"]+label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: 0px;
    vertical-align: middle;
    background: url(./image/checkbox.svg) -18px -4px no-repeat;
    cursor: pointer;
    background-size: 3em;
}

input[type="checkbox"]:checked+label span {
    background: url(./image/checkbox.svg) -18px -22px no-repeat;
    background-size: 3em;
}

/* Other */
.rotate {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

#html_element>div {
    margin: auto;
}