@charset "UTF-8";


/* Tablet view */

@media screen and (min-width: 700px) and (max-width: 1224px) {
    #logo {
        width: 15%;
        height: 15%;
    }

    .login_div {
        width: 50%;
    }

    .signup_div {
        width: 50%;
    }

    .change_language {
        width: 60%;
    }

    .novalue>a {
        font-size: 2em;
        white-space: nowrap;
    }

    /* Article */
    .article_div {
        width: 90%;
    }

    .article-input {
        width: 85%;
    }

    .article-edit {
        width: 85%;
    }

    /* Box */
    .box {
        width: 90%;
        margin-top: 1%;
        margin-bottom: 5%;
    }

    .box_link {
        font-size: 15px;
        word-break: break-all;
    }

    .box_title span {
        font-size: small;
    }

    .box_detail dl {
        width: 100%;
    }

    .box_reply {
        display: none !important;
    }

    .box_latest_reply {
        text-align: right;
        padding-right: 1em;
    }
}