@charset "UTF-8";


/* Tablet view */

@media screen and (min-width: 680px) and (max-width: 1224px) {
    #logo {
        width: 15%;
        height: 15%;
    }

    /* Login */
    .login_div {
        width: 50%;
    }

    .signup_link>a {
        padding: .8em 4em;
    }

    .change_language {
        width: 60%;
    }

    .novalue>a {
        font-size: 2em;
    }

    /* Notification */
    #notif_wrapper {
        margin-left: -80px;
        width: 318px;
    }

    #notif_wrapper:before {
        margin-left: 104px;
    }

    /* Reset password */
    .reset-pw-login>a {
        padding: .8em 4em;
    }

    /* Content */
    .content {
        width: 90%;
    }

    .content-box>article {
        min-height: 80%;
    }

    .content-from,
    .content-author {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 280px;
    }

    .content-author-info {
        width: 22%;
    }

    .article-div {
        width: 90%;
    }

    .article-input {
        width: 25%;
    }

    .article-edit {
        width: 85%;
    }

    .article-submit>button {
        width: 50%;
    }

    /* Board */
    .board {
        width: 90%;
    }

    .board-text {
        width: 40%;
    }

    .board-title {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .board-latest {
        width: 25%;
    }

    /* Category */
    .category {
        width: 90%;
    }

    /* Create or Edit */
    .article-property,
    .article-pinned {
        display: table-cell;
    }
    /*  End Create or Edit */

    /* Box */
    .box {
        width: 90%;
        margin-top: 1%;
        margin-bottom: 5%;
    }

    .box-link {
        font-size: 16px;
        word-break: break-all;
    }

    .box-title span {
        font-size: medium;
    }

    .box-detail dl {
        width: 100%;
    }

    .box-detail>dl>.box-reply {
        display: none;
    }

    .box-latest-reply {
        text-align: right;
        padding-right: 1em;
    }

    .box-list .last-reply {
        display: none;
    }

    .box-list .stats {
        display: none;
    }

    /* Breadcrumb */
    fieldset {
        margin: 0.5em auto;
        padding: 0px;
    }

    .breadcrumb {
        color: #d4d4d4;
        background-color: #fcfcfc;
        border: 1px solid #e3e3e3;
        border-radius: 6px;
        overflow: hidden;
        zoom: 1;
        max-width: 100%;
        box-sizing: border-box;
        height: 40px;
        width: 90%;
    }

    .breadcrumb .crust {
        line-height: 38px;
        display: block;
        float: left;
        position: relative;
        zoom: 1;
        max-width: 50%;
    }

    .breadcrumb .crust a.crumb>.crumb-category,
    .breadcrumb .crust a.crumb>.crumb-board {
        max-width: 200px;
    }

    .breadcrumb .crust a.crumb>.crumb-article {
        max-width: 200px;
    }
}

@media screen and (min-width: 680px) and (max-width: 1400px) {
    .box-list>.action-block button {
        width: 100%;
    }
}
