<script src="{loadjs jquery.min.js}" type="text/javascript"></script>
<script src="{loadjs common.js}" type="text/javascript"></script>
<div class="footer">
    <div class="change-language">
        <form action="" method="POST">
            <label>Language : </label>
            <select class="language" name="lang">
                <option selected="selected" disabled="disabled" hidden="hidden">{$LANG['common']['display_language']}</option>
                <option value="en_US">English</option>
                <option value="zh_TW">繁體中文</option>
                <option value="ja_JP">日本語</option>
                <option value="th_TH">Thai</option>
            </select>
        </form>
    </div>
    <script type="text/javascript">
    $('select.language').change(function() {
        $.ajax({
                type: 'POST',
                url: '{$meta['url']}',
                data: {lang: $('select.language').val()},
                success: function(data) {
                    setTimeout(function() {
                        location.reload();
                    }, 100);
                },
                error: function() {
                    setTimeout(function() {
                        location.reload();
                    }, 100);
                },
                dataType: 'html'
        });
    });
    </script>
    <div class="footer-text">
        <p>Made by carry0987</p>
    </div>
</div>
</html>