    <div class="footer">
        <div class="link">
            <a href="mailto:carry0987@gmail.com" title="carry0987 Email" target="_blank" rel="noopener">
            <img src="./static/icon/email.svg" />
        </a>
            <a href="https://www.facebook.com/carry0987/" title="carry0987 Facebook" target="_blank" rel="noopener">
            <img src="./static/icon/facebook.svg" />
        </a>
            <a href="https://github.com/carry0987?tab=repositories" title="carry0987 GitHub" target="_blank" rel="noopener">
            <img src="./static/icon/github.svg" />
        </a>
        </div>
        <div class="footer-text">
            <p>Made by carry0987</p>
        </div>
    </div>
</html>