    <div class="main-content">
        <div class="title">
            <span>{$LANG['common']['database']}</span>
        </div>
        <div class="main-admin">
            <div class="widget">
                <div class="title">
                    <span>{$LANG['common']['information']}</span>
                </div>
                <div class="chart">
                    <div class="show-information">
                        <div class="information-box">
                            <span>{$LANG['database']['db_size']}:</span>
                            <span id="database-detail">{$LANG['common']['loading']}...</span>
                        </div>
                        <div class="information-button">
                            <div class="font">
                                <a href="" class="information-link">
                                    <span>{$LANG['common']['refresh']}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{loadjs admin-database.js}" type="text/javascript"></script>