    <div class="main-content">
        <div class="title">
            <span>{$LANG['common']['success']}</span>
        </div>
        <div class="main-admin">
            <div class="widget">
                <div class="info-message">
                    <div class="title">
                        <span>{$LANG['common']['send']}</span>
                    </div>
                    <div class="chart">
                        <div class="info-box">
                            <span>{$LANG['common']['email_success']}</span>
                        </div>
                    </div>
                    <div class="common-button">
                        <a href="{$base_url}/admin.php?mod=email">
                            <span>{$LANG['common']['back']}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>