<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0 ,maximum-scale=1.0, initial-scale=1" user-scalable="no">
    <link rel="dns-prefetch" href="{$meta['url']}">
    <title>{$LANG['admin']['control_panel']} | {$meta['title']}</title>
    <meta name="description" content="{$meta['description']}">
    <meta name="author" content="carry0987">
    <meta property="og:title" content="{$LANG['admin']['control_panel']} | {$meta['title']}">
    <meta property="og:site_name" content="{$meta['title']}">
    <meta property="og:description" content="{$meta['description']}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{$meta['url']}">
    <meta property="og:image" content="{$base_url}/static/icon/logo.png">
    <link href="{loadcss admin.css}" rel="stylesheet" type="text/css">
    <link href="{loadcss mobile-admin.css}" rel="stylesheet" type="text/css">
    <link href="{loadcss tablet-admin.css}" rel="stylesheet" type="text/css">
    <link href="{loadcss admin-info.css}" rel="stylesheet" type="text/css">
    <link href="{loadcss ../component/notification.css}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="./favicon.ico">
    <script src="{loadjs ../jquery.min.js}" type="text/javascript"></script>
    <script src="{loadjs admin.js}" type="text/javascript"></script>
</head>

<body>
    <div class="header">
        <div class="logo">
            <a href="{$base_url}">
                <span>{$meta['name']}</span>
            </a>
        </div>
        <a href="#" class="nav-trigger"><span></span></a>
    </div>
    <div class="side-nav">
        <div class="logo">
            <a href="{$base_url}">
                <span>{$meta['name']}</span>
            </a>
        </div>
<!--{if $show_admin === true}-->
        <nav>
            <ul>
                <li class="side-list {$content['global']}">
                    <a href="{$base_url}/admin.php?mod=global">
                        <span>{$LANG['admin']['global_config']}</span>
                    </a>
                </li>
                <li class="side-list {$content['member']}">
                    <a href="{$base_url}/admin.php?mod=member">
                        <span>{$LANG['admin']['member_manage']}</span>
                    </a>
                </li>
                <li class="side-list {$content['article']}">
                    <a href="{$base_url}/admin.php?mod=article">
                        <span>{$LANG['admin']['article_manage']}</span>
                    </a>
                </li>
                <li class="side-list {$content['board']}">
                    <a href="{$base_url}/admin.php?mod=board">
                        <span>{$LANG['admin']['board_manage']}</span>
                    </a>
                </li>
                <li class="side-list {$content['category']}">
                    <a href="{$base_url}/admin.php?mod=category">
                        <span>{$LANG['admin']['category_manage']}</span>
                    </a>
                </li>
                <li class="side-list {$content['upload']}">
                    <a href="{$base_url}/admin.php?mod=upload">
                        <span>{$LANG['admin']['upload_config']}</span>
                    </a>
                </li>
                <li class="side-list {$content['social']}">
                    <a href="{$base_url}/admin.php?mod=social">
                        <span>{$LANG['admin']['social_config']}</span>
                    </a>
                </li>
                <li class="side-list {$content['email']}">
                    <a href="{$base_url}/admin.php?mod=email">
                        <span>{$LANG['admin']['email_config']}</span>
                    </a>
                </li>
                <li class="side-list {$content['seo']}">
                    <a href="{$base_url}/admin.php?mod=seo">
                        <span>{$LANG['admin']['seo_config']}</span>
                    </a>
                </li>
                <li class="side-list {$content['security']}">
                    <a href="{$base_url}/admin.php?mod=security">
                        <span>{$LANG['admin']['security_config']}</span>
                    </a>
                </li>
                <li class="side-list {$content['database']}">
                    <a href="{$base_url}/admin.php?mod=database">
                        <span>{$LANG['common']['database']}</span>
                    </a>
                </li>
            </ul>
        </nav>
<!--{/if}-->
    </div>