    <div class="info_main">
        <div class="info_title">
            <span>Error</span>
        </div>
        <div class="info_info">
            <div class="info_message">
                <div class="title">
                    <span>{$lang_info_info}</span>
                </div>
                <div class="chart">{$lang_admin_denied}</div>
                <div class="post_button">
                    <a class="post_link" href="{$base_url}">
                        <span>Back</span>
                    </a>
                </div>
            </div>
        </div>
    </div>