    <div class="info_success">
        <div class="info_title">
            <span>{$lang_success}</span>
        </div>
        <div class="info_info">
            <div class="info_message">
                <div class="title">
                    <span>{$lang_update_info}</span>
                </div>
                <div class="chart">{$lang_update_success}</div>
                <div class="post_button">
                    <a class="post_link" href="{$base_url}/admin.php">
                        <span>Back</span>
                    </a>
                </div>
            </div>
        </div>
    </div>