    <div class="main-content">
        <div class="title">
            <span>{$LANG['common']['error']}</span>
        </div>
        <div class="main-admin">
            <div class="widget">
                <div class="info-message">
                    <div class="title">
                        <span>{$LANG['common']['error_info']}</span>
                    </div>
                    <div class="chart">
                        <div class="info-box">
                            <span>{$LANG['admin']['admin_denied']}</span>
                        </div>
                    </div>
                    <div class="common-button">
                        <a href="{$base_url}">
                            <span>Back</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>